<!--{include header}-->

<div class="wrap">
<div class="uleft c3" id="uleft_ev56">
    <h2 id="helptit"><a href="/help/tour.php">帮助中心</a></h2>
    <ul>${current_forum('index')}</ul>
</div>

  <div class="uright" id="learn">
    <div class="utit">
      <h2>所有话题</h2>
    </div>
    <div class="acon">      
      <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="360">话题</th><th width="80" nowrap>分类</th><th width="80" nowrap>回复/阅读</th><th width="100" nowrap>最后发表</th></tr>
					<!--{loop $topics $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;"><a class="deal-title" href="/forum/topic.php?id={$one['id']}" style="${$one['head']?'color:#F00;':''}">${htmlspecialchars($one['title'])}</a></td><td nowrap><!--{if $one['public_id']}-->公共讨论区<!--{elseif $one['team_id']}-->团购讨论区<!--{else}-->本地讨论区<!--{/if}--></td><td align="center" nowrap>{$one['reply_number']}/{$one['view_number']}</td><td class="author" nowrap>{$users[$one['last_user_id']]['username']}<br/>${Utility::HumanTime($one['last_time'])}</td></tr>
					<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
      
    </div>
  </div>
  <div class="clear"></div>
  <a href="#header" id="gotop">返回顶部</a>
</div>
<!--{include footer}-->
