<!--{include header}-->

<div class="wrap">
        <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit">用户中心</h2>
<h3>交易管理</h3>
<ul>
  ${current_account('/order/index.php')}
</ul>

<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
</div>  <div class="uright" id="uright_ev56">
    <div class="utit">
      <ul>
	  ${current_order_index($selector)}
      </ul>
      <h2>我的订单</h2>
    </div>
    <div class="sect">
				    <!--{if $selector=='index' || $selector=='pay' || $selector=='unpay' || $selector=='' }-->
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="380">项目名称</th><th width="60">数量</th><th width="60">总价</th><th width="60">状态</th><th width="80">操作</th></tr>
					<!--{loop $orders $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td style="text-align:left;"><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td>
							<td>{$one['quantity']}</td>
							<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
							<td><!--{if $one['state']=='pay'}-->已付款<!--{elseif 

$one['service']=='hdfk'}-->货到付款<!--{elseif $teams[$one['team_id']]['close_time']>0}-->已过期<!--{else}-->未

付款<!--{/if}--></td>
							<td class="op"><!--{if ($one['state']=='unpay'&&$teams

[$one['team_id']]['close_time']==0&&$one['service']!='hdfk')}--><a href="/order/check.php?id={$one['id']}">付款

</a><!--{elseif $one['state']=='pay'}--><a href="/order/view.php?id={$one['id']}">详情</a>&nbsp;|&nbsp;<a 

href="/order/ajax.php?action=ordercomment&id={$one['id']}" class="ajaxlink">${$one['comment_time'] ? 

$option_commentgrade[$one['comment_grade']] : '点评'}</a><!--{elseif $one['service']=='hdfk'}--><a 

href="/order/view.php?id={$one['id']}">详情</a><!--{elseif $teams[$one['team_id']]['close_time']>0 }--><a 

href="/ajax/order.php?action=orderdel&id={$one['id']}" class="ajaxlink" ask="确定删除本订单？">删除</a><!--

{/if}--></td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>		
					<!--{else}-->
                    <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="380">项目名称</th><th width="60">数量</th><th width="60">总价</th><th width="60">状态</th><th width="80">操作</th></tr>
					<!--{loop $orders $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td style="text-align:left;"><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td>
							<td>{$one['quantity']}</td>
							<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
							<td>已付款</td>
							<td class="op"><!--{if ($one['rstate']=='askrefund')}-->退款审核中<!--{elseif $one['rstate']=='normal'}--><a href="/ajax/refund.php?action=askrefund&id={$one['id']}" class="ajaxlink">申请退款</a>
							<!--{elseif $one['rstate']=='berefund'}-->退款成功<!--{elseif $one['rstate']=='norefund'}-->退款失败<!--{/if}--></td>
						</tr>
					<!--{/loop}-->
						<tr><td colspan="5">{$pagestring}</td></tr>
                    </table>
					<!--{/if}-->
				</div>
    
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
