<div class="sbox">

			<h2 class="first">什么是账户余额？</h2>
            <div class="sidebar_div_inside">
			<p>账户余额是您在{$INI['system']['sitename']}团购时可用于支付的金额。</p>
            </div>
			<h2 class="sidebar_h2_inside">可以往账户里充值么？</h2>
            <div class="sidebar_div_inside">
			<p>请到<a href="/credit/index.php">账户余额</a>菜单，在线充值。</p>
            </div>
			<h2 class="sidebar_h2_inside">那怎样才能有余额？</h2>
            <div class="sidebar_div_inside">
			<p>邀请好友获得返利将充值到账户余额，参加团购亦可获得返利。</p>
            </div>
<div class="sbox_bottom"></div>
</div>
