<div class="sbox">

			<h2 class="first">在哪里可以看到我的返利？</h2>
            <div class="sidebar_div_inside">
			<p>如果邀请成功，在本页面会看到成功邀请列表。在"帐号设置"页右侧，可看到您目前电子账户的余额。返利金额不返现，可在下次团购时用于支付。</p>
            </div>
			<h2 class="sidebar_2lines_h2_inside">好友已经注册过{$INI['system']['abbreviation']}账户，邀请购买还有效么？</h2>
            <div class="sidebar_div_inside">
			<p>不行,好友必须新注册{$INI['system']['abbreviation']}账户并首次购买才有效。</p>
            </div>
			<h2 class="sidebar_h2_inside">哪些情况会导致邀请返利失效？</h2>
            <div class="sidebar_div_inside">
			<ul class="invalid">
			<li>好友购买了特别注明不返利的团购产品</li>
			<li>好友购买之前点击了其他人的邀请链接</li>
			<li>好友如果通过新浪微博帐号登录不会返利</li>
			<li>同一个手机号或送货地址多次使用时不返利</li>
			<li>好友的本次购买不是首次购买</li>
			<li>由于最终团购人数没有达到人数下限，本次团购取消</li>
			<li>好友点击邀请链接后超过 72 小时才购买</li>
			</ul>
            </div>
<!--
			<h2 class="sidebar_2lines_h2">好友能知道他或她的购买会给我返利么？</h2>
            <div class="sidebar_div_inside">
			<p>嘀嗒团最新功能，好友点击邀请链接后,会在页面看到一条邀请提示，如果该提示中显示的是您的用户名，恭喜您! 您好友购买当前产品将给您返利!</p>
            </div>
-->
			<h2 class="sidebar_h2_inside">自己邀请自己也能获得返利吗？</h2>
            <div class="sidebar_div_inside">
			<p>不可以。我们会人工核查，对于查实的作弊行为，扣除全部返利, 并取消邀请返利的资格。</p>
            </div>
<div class="sbox_bottom"></div>
</div>
