<!--{include manage_header}-->

<style type="text/css">
	.adimg{float:left;}
	.adimg .adimghint{color:#989898;font-size:12px;}
	.adimg .f-input{float:none;}
</style>


<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="ad">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_market('ad')}</ul>
	</div>
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				<!--{if $id}-->
					<h2>广告编辑</h2>
					<ul class="filter">${current_market_ad()}</ul>
				<!--{else}-->
					<h2>添加广告</h2>
					<ul class="filter">${current_market_ad('adedit')}</ul>
				<!--{/if}-->
				</div>
                <div class="sect">
					<form id="-user-form" method="post" action="/manage/market/adedit.php?id={$ad['id']}" enctype="multipart/form-data" class="validator">
						<input type="hidden" name="id" value="{$ad['id']}" />

						<div class="field">
							<label>广告标题</label>
							<input type="text" size="30" name="title" id="title" class="f-input" value="${htmlspecialchars($ad['title'])}" datatype="require" require="true" />
						</div>
						<div class="field">
							
							<label>选择图片</label>
							<div class="adimg" >
							<!--{if $ad['image']}-->
								<!--${
								$image = team_image($ad['image']);
								$size = getimagesize($image);
								if ($size[0]) $width = $size[0] >700  ? 700 : $size[0];

								}-->
							<img  src="${team_image($ad['image'])}" width="{$width}"><br/>
							<span class="adimghint">${team_image($ad['image'])}</span><br/><!--{/if}--><input type="file" size="30" name="image" id="image" class="f-input" /></div>
						</div>
						<div class="field">
							<label>图片链接</label>
							<input type="text" size="30" name="link" id="link" class="f-input" value="${htmlspecialchars($ad['link'])}" />
							<span class="inputtip">若无链接，请留空</span>
						</div>
						<div class="field">
							<label>显示排序</label>
							<input type="text" size="10" name="displayorder" id="displayorder" class="number" value="${$ad['displayorder'] ? $ad['displayorder'] : 0}" datatype="number"/>
							<span class="inputtip">请填写数字，数值大到小排序，显示靠前的设置较大值</span>
						</div>
						<div class="field">
							<label>是否开启</label>
							<select name="available" class="f-input" style="width:160px;">${Utility::Option($availables, $ad['available'])}</select>
						</div>
						<input type="submit" value="好了，提交" name="commit" id="leader-submit" class="formbutton" style="margin:10px 0 0 120px;"/>
					</form>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
