<!--{include header}-->

<div class="wrap">
        <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit">用户中心</h2>
<h3>交易管理</h3>
<ul>${current_account('/credit/score.php')}</ul>

<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
</div>  <div class="uright" id="credit">
    <div class="utit">
      <ul>
	  ${current_credit_index('goods')}
      </ul>
      <h2>兑换商品</h2>
    </div>
    <div class="sect">
					<h3 class="credit-title">当前的账户积分是：<strong>${moneyit($login_user['score'])}</strong></h3>
					<ul style="padding:10px;">
					<!--{loop $goods $index $one}-->
						<li style="width:32%; float:left; text-align:center;">
							<div><img alt="{$one['title']}" src="${team_image($one['image'], true)}" width="160" height="121"></div>
							<div>
								<p class="total">已兑：<strong class="count">{$one['consume']}</strong>&nbsp;存量：<strong class="count">{$one['number']-$one['consume']}</strong>&nbsp;限兑：<strong class="count">{$one['per_number']}</strong></p>
								<p class="total">兑换需积分：<strong class="count">{$one['score']}</strong></p>
								<p class="price"><a href="/credit/ajax.php?id={$one['id']}&action=exchange" class="ajaxlink" ask="确定使用{$one['score']}点积分兑换{$one['title']}吗？">我现在就要兑换</a></p>
							</div>
						</li>
					<!--{/loop}-->
					</ul>
					<div class="clear"></div>
					<div>{$pagestring}</div>
				</div>
    
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
