<!--{include header}-->

<div class="wrap">
        <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit">用户中心</h2>
<h3>交易管理</h3>
<ul>${current_account('/account/settings.php')}</ul>

<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
</div>  <div class="uright" id="credit">
    <div class="utit">
      <ul>
						<li><a href="/account/settings.php">帐户设置</a></li>
						<li class="current"><a href="/credit/index.php">帐户余额</a></li>
						<li><a href="/account/myask.php">我的问答</a></li>   
						<li><a href="/account/setbinds.php">手机绑定</a></li>
						<li><a href="/account/setaddress.php">收货地址</a></li>
      </ul>
      <h2>账户余额</h2>
    </div>
    <div class="sect">
					<p class="charge">充值到{$INI['system']['abbreviation']}账户，方便抢购！<span class="STYLE1">(支付宝用户暂不支持充值)</span> <span>&raquo;</span> <a href="/credit/charge.php">立即充值</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>&raquo;</span> 充值卡充值&nbsp;<a id="credit-card-link" class="credit-card-link" href="javascript:;">点击输入充值卡密码</a> </p>
					<h3 class="credit-title">当前的账户余额是 <strong>${moneyit($login_user['money'])}</strong> 元</h3>
					<table id="order-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="120">时间</th><th width="auto">详情</th><th width="50">收支</th><th width="70">金额(元)</th></tr>
						<!--{loop $flows $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;">${date('Y-m-d H:i', $one['create_time'])}</td><td>${ZFlow::Explain($one)}</td><td class="{$one['direction']}">${$one['direction']=='income'?'收入':'支出'}</td><td>${moneyit($one['money'])}</td></tr>
						<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
    
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
