<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        <div class="box-top"></div>
        <div class="box-content">
			<div class="success"><h2 style="font-size:20px">您的订单已提交成功，付款方式为“货到付款”，我们将尽快给您安排发货！</h2> </div>
            <div class="sect">
                 <p class="info">查看所购项目<a href="/team.php?id={$order['team_id']}">{$team['title']}</a></p>
                 <br />
                 <p class="info" style="text-align:center">查看 <a href="/order/view.php?id={$order['id']}">订单详情</a></p>
              </div>
		</div>
		<div class="box-bottom"></div>
	</div>
</div>
<div id="side">
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
