<!--{include header}-->
<div class="wrap2">
  <div class="uleft2" id="order-pay-return">
        <div class="utit">
		  <ul class="step step3">
			<li>提交订单</li>	
			<li>选择支付方式 </li>
			<li>支付成功</li>
		  </ul>
		  <h2>恭喜，支付成功！</h2>
		</div>
            	
            	
            	
            	<div class="sect">
            <p class="nologin-tip">支付成功，请<a href="javascript:;" onclick="window.close();return false;">关闭此窗口</a></p>            </div>
  </div>
  <div class="uright2">
  
                <h3 class="first">邀请有奖</h3>
				<p>每邀请一位好友首次购买，您将获&nbsp;${abs($INI['system']['invitecredit'])}&nbsp;元返利<br />
                <a href="/account/referrals.php" target="_blank">点击获取您的专用邀请链接</a>
                </p>
</div>
  <div class="clear"></div>
</div>
<!--{include footer}-->