<!--{include header}-->

<div class="wrap2" id="citylist" style="background:#fff url("/static/theme/58/css/img/shenqi.png") right top no-repeat;">
  <p><span class="c2">邮件订阅>></span></p>                                          
<div class="hotcity"><h4>把每天最新的精品团购信息发到您的邮箱。</h4></div>
  <div class="citysear">邮件订阅每日团购信息，不错过每一天的惊喜。</div>
  <div class="clist">
    <div>
  <!-- 邮件提醒弹出框 -->
  <div class="popcon">
    <h2>邮件订阅成功！</h2>
    <p>您的邮箱 <strong>{$_POST['email']}</strong> 将会收到<strong>{$city['name']}</strong>每天最新的团购信息。</p>
   </div>
</div>
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
