<!--{include header}-->

<div class="wrap">
<div class="uleft c3" id="uleft_ev56">
    <h2 id="abouttit"><a href="/about/us.php">关于我们</a></h2>
    <ul>${current_about('privacy')}</ul>
</div>

  <div class="uright" id="uright_ev56">
    <div class="utit">
      <h2>隐私声明</h2>
    </div>
    <div class="acon">      
      <div class="sect">{$page['value']}</div>
      
    </div>
  </div>
  <div class="clear"></div>
  <a href="#header" id="gotop">返回顶部</a>
</div>
<!--{include footer}-->
