<!--{include header}-->
<div id="main">
<div class="listerouter">
<div class="lister">
<div id="recent-deals">
					<!--{loop $goods $index $one}-->
  															<dl class="tuanitem">
				<dt>
					<a href="/credit/ajax.php?id={$one['id']}&action=exchange" class="ajaxlink" ask="确定使用{$one['score']}点积分兑换{$one['title']}吗？"  ><img width="294" heigth="184" alt="{$one['title']}" title="{$one['title']}" src="${team_image($one['image'])}" /></a>
										
								<i class="localmask"></i>
								<div class="local" title="{$team_partner['title']}">
									所需积分：{$one['score']}积分
								</div>

								
								<i class="new" title="积分兑换"></i>
				</dt>
				<dd class="des">
					<h2>
						<a  id="teamsecondurl{$one['id']}" href="/credit/ajax.php?id={$one['id']}&action=exchange" class="ajaxlink" ask="确定使用{$one['score']}点积分兑换{$one['title']}吗？"  title="{$one['title']}" class="c_b">
							<span class="c_r">&nbsp;</span>
							${mb_strimwidth($one['title'],0,86,'...')}
						</a>
					</h2>
				<div class="gobuy">
				<a href="/credit/ajax.php?id={$one['id']}&action=exchange" class="ajaxlink golook" ask="确定使用{$one['score']}点积分兑换{$one['title']}吗？" class="golook">马上兑换</a>
										<span class="nprice">{$one['score']}积分</span>
				</div>
				</dd>
				<dd class="btmbar">
					<span class="oprice">已兑：<strong class="old">{$one['consume']}</strong></span>
										<span class="savemoney">限兑：<strong class="discount">{$one['per_number']}</strong></span>
											<span class="ordernums">存量：<b>{$one['number']-$one['consume']}</b></span>
									</dd>
				<dd class="shadow"></dd>
				</dl>				
		  												
	<!-- {/loop} -->				
</div>		  																
		  																
		  																
		    <div class="clear"></div>
</div>
					<div  class="class_quick_fm">{$pagestring}</div>
	

</div>
</div>

<!--{include footer}-->