<!--${
$seconds_now_today = strtotime(date('Y-m-d'));
$seconds_now_tomorrow = strtotime('+1 day');
$seconds_side_nn = abs(intval($INI['system']['sideteam']));
$seconds_team_id = abs(intval($team['id']));
$seconds_city_id = abs(intval($city['id']));

if ( $seconds_side_nn ) {
	$oc = array( 
			'city_id' => array($seconds_city_id, 0),
			'team_type' => 'seconds',
			"id <> '$id'",
			"begin_time >= '$seconds_now_today'",
			"end_time <= '$seconds_now_tomorrow'",
			);
	$others_seconds = DB::LimitQuery('team', array(
				'condition' => $oc,
				'order' => 'ORDER BY `sort_order` DESC, `id` DESC',
				'size' => $seconds_side_nn,
				));
}
}-->
<!--{if $others_seconds}-->

<div class="rbox b15" id="others_seconds">
	  <h3>今日秒杀...</h3>
	  <ul>
		<!--${$index=0}-->
		<!--{loop $others_seconds $one}-->
	  	  	<li>
	          <h2><a id="others_secondsfirsturl{$one['id']}" href="/team.php?id={$one['id']}" title="{$one['title']}">
	          <!--{if $one['image']}--><img src="${team_image($one['image'], true)}" width="210" height="131" alt="{$one['title']}"/>{$one['title']}<!--{/if}--></a></h2>
	          <p><a id="others_secondssecondurl{$one['id']}" href="/team.php?id={$one['id']}" title="{$one['title']}" >去看看</a>状态：<span><!--{if $one['begin_time'] > time()}-->(未开始)<!--{elseif $one['end_time'] < time()}-->(已结束)<!--{else}-->(进行中)<!--{/if}--></span></p>
			</li>
		<!--{/loop}-->
			 	 </ul>
	</div>
<!--{/if}-->