<!--{include header}-->

<div class="wrap">
        <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit">用户中心</h2>
<h3>交易管理</h3>
<ul>${current_account('/credit/score.php')}</ul>

<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
</div>  <div class="uright" id="credit">
    <div class="utit">
      <ul>
	  ${current_credit_index('records')}
      </ul>
      <h2>兑换记录</h2>
    </div>
    <div class="sect">
					<p class="charge">积分规则：&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;用户注册：+${abs(intval($INI['credit']['register']))}&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;用户登录：+${abs(intval($INI['credit']['login']))}&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;参与团购：+${abs(intval($INI['credit']['buy']))}&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;邀请好友：+${abs(intval($INI['credit']['invite']))}&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;购买返积比例：${moneyit($INI['credit']['pay'])}&nbsp;&nbsp;&nbsp;<span>&raquo;</span>&nbsp;充值返积比例：${moneyit($INI['credit']['charge'])}</p>
					<h3 class="credit-title">当前的账户积分是：<strong>${moneyit($login_user['score'])}</strong></h3>
					<table id="order-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="150">兑换时间</th><th width="auto">详情</th><th width="120">状态</th></tr>
						<!--{loop $credits $index $one}-->
						<tr ${$index%2?'':'class="alt"'}><td style="text-align:left;">${date('Y-m-d H:i', $one['create_time'])}</td><td>${ZCredit::Explain($one)}</td><td><!--{if ($one['state']=='unpay')}-->未发货<!--{else}-->已发货<!--{/if}--></td></tr>
						<!--{/loop}-->
						<tr><td colspan="4">{$pagestring}</td></tr>
                    </table>
				</div>
    
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
