<!--{include header}-->


<!---content--->
<div class="wrap2">
  <div class="uleft2">
    <div class="utit">
      <h2>提供团购信息</h2>
    </div>
    <div class="ucon login">
      <h3>特别欢迎优质商家、淘宝大卖家提供团购信息。</h3>
	  <form id="feedback-user-form" method="post" action="/feedback/seller.php" class="validator">
      <ul>
        <li>
          <label for="feedback-fullname">您的称呼</label>
		  <input type="text" size="30" name="title" id="feedback-fullname" class="i_text" value="{$login_user['username']}" require="true" datatype="require" />
        </li>
        <li>
           <label for="feedback-email-address">联系方式</label> <input type="text" size="30" name="contact" id="feedback-email-address" class="i_text" value="{$login_user['email']}" require="true" datatype="require" /><div class="i_tips"><em></em>请留下您的手机、QQ号或邮箱，方便联系</div>
        </li>
        <li>
          <label>团购信息：</label><textarea cols="30" rows="5" name="content" id="feedback-suggest" class="i_textarea" require="true" datatype="require"></textarea>
        </li>
					<!--{if option_yes('verifyfeedback')}-->
						<!--{include block_block_captcha}-->
					<!--{/if}-->
        <li>
          <label></label><input  class="input input42" value="提  交"  name="commit" id="feedback-submit" type="submit"/>
        </li>
      </ul>
	  </form>
    </div>
    <br /><br /><br /><br />
  </div>
  <div class="uright2">
    <p><img src="/static/theme/ev56_58/css/img/shangjia.png" width="197" height="614" /></p>
    
  </div>
  <div class="clear"></div>
</div>
<!---contentEnd--->
<!--{include footer}-->
