<!--{include header}-->

<div class="wrap2">
  <div class="uleft2"  id="deal-buy">
        <div class="utit">
	      <ul class="step step1">
	        <li>提交订单</li>
	        <li>选择支付方式 </li>
	        <li>支付成功</li>
	      </ul>
	      <h2>
	      		      		购买信息<!--{if $team['farefree'] == -1}-->&nbsp;(本单免运费)
            <!--{else if $team['farefree']>0}-->&nbsp;(<span class="currency">{$team['farefree']}</span>件免运费)<!--{/if}-->
	      		      </h2>
	    </div>
									    			
    <form action="/team/buy.php?id={$team['id']}" method="post" class="validator">
	<input id="deal-per-number" value="{$team['per_number']}" type="hidden" />
        <input id="deal-permin-number" value="{$team['permin_number']}" type="hidden" />
          <table cellspacing="0" cellpadding="0" width="" class="buy_list">
            <tbody>
				                  <tr>
                  
                    <th>项目名称
					                </th>
                <th>数量</th>
                <th></th>
                <th>价格</th>
                <th></th>
                <th>总价</th>
              </tr>
              <tr>
                <td class="pname">{$team['title']}</td>
                <td>
				<input type="text" class="input-text f-input counts" maxlength="4" name="quantity" value="{$order['quantity']}" id="deal-buy-quantity-input" ${$team['per_number']==1?'readonly':''} />
                    	<input type="hidden" id="deal-buy-farefree" value="${abs(intval($team['farefree']))}"/>
                    	<br /><span style="font-size:12px;color:gray;"><!--{if $team['per_number']==0}-->最多9999件<!--{else}-->最多{$team['per_number']}件<!--{/if}--><br /><!--{if $team['permin_number']>1 && ($team['permin_number']<$team['per_number']||$team['per_number']==0)}-->最少{$team['permin_number']}件<!--{/if}--></span>
					                  </td>
                <td>x</td>
                <td>&yen;<span id="deal-buy-price">{$team['team_price']}</span></td>
                <td>=</td>
                <td><strong>&yen;<span id="deal-buy-total">{$order['quantity']*$team['team_price']}</span></strong></td>
              </tr>
				<!--{if $team['delivery']=='express'}-->
                <!--{loop $express $index $one}-->
                <tr>
                    <td class="deal-buy-desc">{$one['name']}</td>
                    <td class="deal-buy-quantity">
                    	<input type="radio" class="express-price" name="express_price" value="{$one['relate_data']}" title="{$one['id']}" <!--{if !$order['express_id'] && $index == 0 }-->checked="checked"<!--{else if $order['express_id'] == $one['id'] }-->checked="checked"<!--{/if}--> /></td>
                    <td class="deal-buy-multi"></td>
                    <td class="deal-buy-price"><span class="money">{$currency}</span><span>{$one['relate_data']}</span></td>
                    <td class="deal-buy-equal"></td>
                    <td class="deal-buy-total"></td>
                </tr>
				  <!--{/loop}-->
				<tr>
				 	<td colspan="5" class="tb_left">快递费用</td>
          			<td><strong>&yen;<span id="deal-express-total" v="{$one['relate_data']}">{$one['relate_data']}</span></strong>
					<input type="hidden" id="express-id" name="express_id" value="{$one['express_id']}"></td>
	             </tr>
				<!--{/if}-->
	             	             
	            <tr>
					<td class="pname" colspan="4">
                     <!-- <p>&nbsp;</p>-->
                                         </td>
          			<td colspan="2" class="allcount">订单总额：<span>&yen;<span><strong id="deal-buy-total-t">{$order['origin']}</strong></span></span></td>
	            </tr>
           </table>

			<!--{if $team['delivery']=='express'}-->
			<div class="expresstip">${nl2br(htmlspecialchars($team['express']))}</div>
			<div class="wholetip clear"><h3>快递信息<!--{if $INI['alipay']['aliaddress'] == 'Y' && $_SESSION['ali_token']}-->&nbsp;<a href="/alifast/user_logistics_address_query.php"><img src="/static/theme/ev56_58/css/i/aliaddress.png" /></a><!--{/if}--></h3></div>
			<div id="address-list">
				<!--{loop $address $index $one}-->
				<span id="address-list-{$one['id']}" class="address-list-pannal" style="display: block; margin: 0pt 20px; padding: 3px 5px;">
				<label for="address-list-input">
				<input id="address-list-input-{$one['id']}" type="radio" value="{$one['id']}" name="address-list" <!--{if $one['default']=='Y'}-->checked<!--{/if}--> /> {$one['name']} , {$one['province']} {$one['area']} {$one['city']} {$one['street']} , {$one['zipcode']} , {$one['mobile']}
				</label>
				</span>
				<!--{/loop}-->
				<span id="address-list-0" class="address-list-pannal" style="display: block; margin: 0pt 20px; padding: 3px 5px;">
				<label for="address-list-input">
				<input id="address-list-input-0" type="radio" name="address-list" value="0" <!--{if !$address || !$def}-->checked<!--{/if}--> />
				使用其它地址
				</label>
				</span>
			</div>  
          <div class="buy_info other-address" style="display:none">
            <h2>配送地址：</h2>
			<ul id="historyaddrs">
		      </ul>
            	
							<ul class="ucon buy_form">
				<li><label>收件人：</label><input type="text" size="30" name="realname" id="settings-realname" class="i_text" <!--{if  $_SESSION['ali_add']}-->value="{$_SESSION['ali_add']['fullname']}" <!--{else}-->value="{$login_user['realname']}"<!--{/if}-->  />
				<span class="hint">收件人请与有效证件姓名保持一致，便于收取物品</span>
                </li>
                
              <li><label>手机号码：</label><input type="text" size="30" name="mobile" id="settings-mobile" class="i_text" <!--{if $_SESSION['ali_add']}-->value="{$_SESSION['ali_add']['mobile_phone']}" <!--{else}-->value="{$login_user['mobile']}"<!--{/if}-->  maxLength="11" /><span class="inputtip">手机号码是我们联系您最重要的方式，请准确填写</span></li>
                
              
                
              <li><label>收件地址：</label><input type="text" size="30" name="address" id="settings-address" class="i_text"  <!--{if $_SESSION['ali_add']}-->value="{$_SESSION['ali_add']['prov']}{$_SESSION['ali_add']['city']}{$_SESSION['ali_add']['area']}{$_SESSION['ali_add']['address']}" <!--{else}-->value="{$login_user['address']}"<!--{/if}-->  /><span class="hint">为了能及时收到，请按照格式填写：_省_市_县（区）_</span>
               </li>
              
              <li><label>邮 编：</label><input type="text" size="30" name="zipcode" id="settings-mobile" class="i_text" <!--{if $_SESSION['ali_add']}-->value="{$_SESSION['ali_add']['post']}" <!--{else}-->value="{$login_user['zipcode']}"<!--{/if}-->  maxLength="6" /><span></span></li>
              </ul>
              <div class="clear"></div>  
          </div>   
          <div class="buy_info">
						
            <h2>希望的送货时间：</h2>
            <ul>
              <li>
				<span class="address-list-send-time" style="display: block; margin: 0pt 20px; padding: 5px 5px;">
				<label for="address-send-input">
				<input id="address-list-input-time" type="radio" value="只工作日送货(双休日、假日不用送，写字楼/商用地址客户请选择)" name="express_xx" checked />只工作日送货(双休日、假日不用送，写字楼/商用地址客户请选择)
				</label>
				</span>
				</li>
              <li>
				<span class="address-list-send-time" style="display: block; margin: 0pt 20px; padding: 5px 5px;">
				<label for="address-send-input">
				<input id="address-list-input-time" type="radio" value="只双休日、假日送货(工作日不用送)" name="express_xx" />只双休日、假日送货(工作日不用送)
				</label>
				</span>			  
			  </li>
              <li>
				<span class="address-list-send-time" style="display: block; margin: 0pt 20px; padding: 5px 5px;">
				<label for="address-send-input">
				<input id="address-list-input-time" type="radio" value="学校地址/地址白天没人，请尽量安排其它时间送货 (特别安排可能会超出预计送货天数)" name="express_xx" />学校地址/地址白天没人，请尽量安排其它时间送货 (特别安排可能会超出预计送货天数)
				</label>
				</span>			  
			  </li>
              <li>
				<span class="address-list-send-time" style="display: block; margin: 0pt 20px; padding: 5px 5px;">
				<label for="address-send-input">
				<input id="address-list-input-time" type="radio" value="工作日、双休日与假日均可送货" name="express_xx" />工作日、双休日与假日均可送货
				</label>
				</span>		  
			  </li>
            </ul>
              <div class="clear"></div>  
			</div>
			<!--{else}-->  
          <div class="buy_info">
            <ul>
              <li>
                <label>手机号码：</label>
				<input type="text" size="30" name="mobile" id="settings-mobile" class="number" value="{$login_user['mobile']}" require="true" datatype="mobile" maxLength="11" /><span class="inputtip">请填写正确的手机号码（可为朋友代买）</span>
			  </li>
			 </ul>
              <div class="clear"></div>  
			 </div>
			<!--{/if}-->  
          <div class="buy_info">
			
			<!--{if is_array($team['condbuy']) && !empty($team['condbuy'][0])}-->
            <h2>订购选择</h2>
            <ul>
              <li>
                <label>订购选择：</label>
				<!--{loop $team['condbuy'] $index $one}-->
				<select name="condbuy[]" class="f-input" require="true" datatype="require" style="width:auto;"><option value="">请选择</option>${Utility::Option(array_combine($one, $one), 'condbuy')}</select> 
				<!--{/loop}-->
                <span></span>
			  </li>
            </ul>
              <div class="clear"></div>  
			<!--{/if}-->
            <h2>备注信息</h2>
            <ul>
              <li>
                <label>订单附言：</label>
				
				<textarea name="remark" class="i_textarea">${htmlspecialchars($order['remark'])}</textarea>
                <span></span></li>
            </ul>
              <div class="clear"></div>  
          </div>
            <input type="hidden" name="id" value="{$order['id']}" />
          <div class="orderbtn">
		  <input type="submit" class="input input1" name="buy" value="提交订单"/>
    	  </div>
		            
          </form>          
              <div class="clear"></div>   
  </div>
  <div class="uright2">
    <h3>账户余额</h3>
    <p>您的账户余额：<span class="money">{$currency}</span>${moneyit($login_user['money'])}</p>
</div>
  <div class="clear"></div>
</div>

<script language="javascript">
$(document).ready(function(){
	if($('#address-list-input-0').attr("checked") == true){
		$('.other-address').css('display','block');
	}else{
		$('.other-address').css('display','none');
	
	}
	$( "input[name='address-list']" ).bind( "click", othercheck );

	function othercheck(){
		if($('#address-list-input-0').attr("checked") == true){
			$('.other-address').css('display','block');
		}else{
			$('.other-address').css('display','none');
		}
	}
});
</script>
<script>
/*window.x_init_hook_dealbuy = function(){
	X.team.dealbuy_farefree(${abs(intval($order['quantity']))});
	X.team.dealbuy_totalprice();
};*/
</script>
<!--{include footer}-->