@charset "utf-8";
/* ev56.com by ev56@foxmail.com */
html{background:#fff}
body,form,h1,h2,h3,h4,ul,ol,li,dl,dd,dt,p,hr,input{margin:0;padding:0}
body{color:#333;font:12px/2 arial,"宋体";-webkit-text-size-adjust:none;background:url(img/body.gif) repeat-x 0 126px;text-align:center}
h1,h2,h3,h4{font-size:100%}
img{border:none}ul{list-style:none}table{border-spacing:0}address,cite,code,em,th{font-weight:400;font-style:normal}
a{color:#06c;cursor:pointer;text-decoration:none}a:hover{color:#FB4E0B;text-decoration:underline}
.c_b,a.c_b:link,a.c_b:visited{color:#333}a.c_b:hover,a.c_b:active,.c3 a:hover,.c3 a:active{color:#FB4E0B}.green{color:#649500}.red{color:#FF0000}
.c_r,a.c_r:link,a.c_r:visited{color:#FB4E0B}.c_g{color:#68b644}.c9{color:#999}
.c3 a:link,.c3 a:visited{color:#333}
.c2,a.c2:link,a.c2:visited{color:#f73d00}
.clear{display:block;clear:both;font-size:0;height:0;line-height:0;overflow:hidden}
select,input{font-family:Tahoma;font-size:12px;vertical-align:middle}
.fl{float:left}.fr{float:right}

/* tips */
.mtips,.tips,.tips1,.tips2{width:954px;margin:10px auto;padding:6px 12px;background:#ffffe0;line-height:22px;text-align:left;border:solid 1px #f4e394;position:relative;font-size:14px}
.tips{margin-top:20px;text-align:center;color:#FB4E0B;font-weight:700}.tips,.tips1,.tips2{width:auto}
.mtips a.c_g{display:inline-block;padding:0 4px;font-weight:700;background:#68b644;color:#fff}
.tips2{border:1px solid #d6e4ce;background:#f3fbee;font-weight:normal}
.tips2 .green{font-size:24px;margin:10px 0;font-weight:bold}.tips2 .tbtn{padding:10px 0}
.popTip{position:absolute;top:28px;left:114px;border:1px solid #ABC553;width:206px;z-index:1;background:#fff;*top:32px;*left:116px}
.popTip li{margin:0;line-height:27px;padding-left:10px;height:auto!important}
.popTip li.hover{background:#ABC553;color:#fff}
.mtips a{background:#FB500B;color:#fff;display:inline-block;font-weight:700;padding: 0 5px;margin-left:5px}.mtips a:visited{color:#fff}
.mtips .close{background-image:url(img/main.gif?12456)!important}
.mtips .close{display:block;height:12px;width:12px;text-align:center;position:absolute;right:10px;top:5px;cursor:pointer;color:#000;background:url() no-repeat -50px -993px;line-height:100px;overflow:hidden}
.mtips .close:hover{color:#f00;text-decoration:none;background:url() no-repeat -62px -993px}
.mtips .close{top:10px}

/* bg */
#rss,#searhbar,#l_search,.golook,.golook2,.soldout_i,.searchico{background-image:url(img/sp2.png?12456)!important}
.ico,.topnav li,#navbar,.nav a span,.nav a,.nav li,.loginbar .hover,.loginbar li.ulist,.loginbar .downlist li a,.sortbar,.sortor li.cur a,.arrw,.pager a,.pager a span,.pager span.cur,.pager span.cur span,.service dd.follow,#toTop,.close_ev56,.tuanitem dd.btmbar{background-image:url(img/main.gif?12456)!important}

/* frame */
#navbar,#main,.w,.wrap,.iwrap,.gslider,#filter,#footer,#navbar{width:980px;margin:0 auto;text-align:left}
.wrap2,.w2{margin:10px auto 15px auto;width:978px;border:solid 1px #E8E8E8;background:#fff;text-align:left}.iwrap{margin-bottom:15px}.w2{padding-bottom:10px}
#main{margin:10px auto}
/* top */
#topbar{background:url(img/topbar.png) repeat-x 0 -6px;height:27px}
#changecity{position:absolute;top:0;left:0;word-spacing:1px}#switchCityUrl{color:#666;word-spacing:1px}#link_city_change{margin-left:5px}
.cityname{font:700 16px/27px arial;color:#ff0000;padding-right:3px}
#header .w,#topbar .w{height:70px;z-index:3;position:relative}
#topbar .w{height:26px;line-height:26px;z-index:9}
.topnav{position:absolute;top:0;right:0;z-index:99}
.topnav li{float:left;padding:0 8px 0 7px;background:url() no-repeat right -945px;position:relative;display:inline-block}
.topnav .last{background:url() 0 0;padding-right:0;margin-top:1px\09;+margin-top:3px}
.topnav li.hover{background:url() no-repeat #fff;padding:0 7px 0 6px;border:solid 1px #ddd;border-bottom:none;border-top:none;line-height:26px;height:27px}
.downlist{display:none}.downlist a{display:block}
.topnav li.hover .downlist,.topnav li.hover .sitemapBox{display:block;border:solid 1px #ddd;border-top:none;background:#fff;position:absolute;top:27px;padding:0 0 3px 7px;line-height:24px}
.topnav li.hover .downlist{left:-1px;width:66px}
.topnav li.hover .sitemapBox{right:-1px;_right:-2px;width:138px;padding:5px 5px 5px 7px}
.maplist{border-bottom:solid 1px #F3F3F3;padding:0 0 5px 0}
.sitemapBox{display:none}
.topnav .sitemapBox a{display:inline-block}.topnav .mapfuc{text-align:right}
.topnav .mapfuc a{color:#06c;margin-right:5px}
.topnav a{color:#666;display:block;white-space:nowrap}
.topnav a.rss{padding-left:16px}.help{padding-right:12px}
.topnav .ico{display:block;width:12px;height:12px;position:absolute}
.topnav a.rss .mail{top:8px;left:6px;background:url() no-repeat 0 -995px}
.help .down{top:8px;right:5px;background:url() no-repeat -15px -995px}
.topnav li.hover .down{right:4px;background:url() no-repeat -27px -995px}

#logo{position:absolute;top:17px;left:0}
/* minbaner */
.minbanner{position:absolute;left:170px;top:27px;width:180px;height:22px}
#minbanner{width:180px;height:22px;overflow:hidden}
.minbanner .baohu{display:block;height:22px;width:180px;text-indent:-1000em;opacity:0.5;filter:alpha(opacity=80);background:url(img/mbanner.gif) no-repeat -6px 0}

#rss{width:292px;height:25px;position:absolute;right:0;top:37px;overflow:hidden;background:url() no-repeat 0 -236px}
#searhbar .searchico{position:absolute;left:5px;top:8px;z-index:9;width:15px;height:15px;background:url() no-repeat 0 -208px}
.rss_mail,.rss_btn{display:inline-block;float:left}
.rss_mail{border:0;height:19px;line-height:19px;width:232px;color:#cdcdcd;position:absolute;left:5px;top:3px;}
.rss_btn{border:0;background:none;height:21px;padding:0 0 5px 0;line-height:19px;width:53px;cursor:pointer;font-weight:700;position:absolute;right:0;top:2px}
.rss_mail:focus{outline:none}

#searhbar{width:340px;height:31px;position:absolute;left:360px;top:27px;overflow:hidden;background:url() no-repeat 0 -176px}
.kw,.searchbtn{display:inline-block;float:left}
.kw{border:0;height:21px;line-height:21px;width:256px;color:#cdcdcd;position:absolute;left:25px;top:3px}
.searchbtn{border:0;background:none;height:26px;padding:0 0 3px 0;line-height:28px;width:58px;cursor:pointer;font-size:14px;font-weight:700;position:absolute;right:0;top:0}
.searhbar .searchico{position:absolute;left:5px;top:8px;z-index:9;width:15px;height:15px;background:url() no-repeat 0 -208px}
.hover .kw{color:#000;left:6px;width:274px;}
.hover .searchico{display:none}

/* nav */
#navbar{position:relative;height:38px;width:100%;z-index:2;background:url() repeat-x 0 -200px}
.nav{position:absolute;z-index:2;left:50%;width:735px;margin-left:-490px;}
.nav li,.loginbar li{text-align:center;line-height:34px;float:left;height:34px}
.nav li{padding:0 5px 0 7px;background:url() no-repeat 0 -286px}
.nav a{display:inline-block;padding:0 0 0 9px;color:#fff;font:700 14px/34px arial;line-height:36px\09;white-space:nowrap}
.nav a span{display:block;padding:0 9px 0 0}
.nav a.cur,.nav a:hover{color:#fb4e0b;text-decoration:none;background:url() no-repeat 0 -325px #fff;height:38px}
.nav a.cur span,.nav a:hover span{background:url() no-repeat right -325px #fff}

.loginbar{position:absolute;top:0;right:50%;margin-right:-490px;z-index:2}
.loginbar li{float:left}
.loginbar li a,.loginbar li.ucname{padding:0 9px 0 3px;color:#fff;font:700 12px/34px arial;display:block}
.loginbar li a:hover{color:#fff}
.logined li.ucname,.logined li a{font-weight:400}
.loginbar a .arrw{display:inline-block;vertical-align:middle;width:8px;margin-left:5px;height:6px;background:url() no-repeat -41px -568px}
.loginbar li.ulist{background:url() no-repeat 0 -507px;padding:0 13px 0 5px}
.nologin li.ulist{background:url() no-repeat 5px -507px}
.loginbar li.ulist .downlist{display:none}
.loginbar li.hover{background:url() no-repeat 0 -470px;padding:0 13px 0 5px;position:relative}
.nologin li.hover{background:url() no-repeat -27px -543px}
.loginbar li.hover a,.loginbar li.hover a:hover{color:#fd5b08;text-decoration:none}
.loginbar li.hover .downlist{display:block;width:100px;background:#fff;border:solid 1px #fa4e06;border-top:none;border-bottom-width:2px;position:absolute;left:0;top:34px;z-index:20;}
.loginbar .downlist li a{display:block;float:none;height:28px}
.loginbar .downlist li{float:none;height:28px;display:inline}
.loginbar .downlist li a{color:#333;text-align:left;padding-left:6px;padding-bottom:2px;background:url() no-repeat 0 -421px;line-height:26px;height:26px;font-weight:400}
.loginbar .downlist li a.last{background:url() no-repeat 0 0}
.loginbar .downlist li a:hover{color:#fff;background:#a48568}
.loginbar .downlist li.shadow{height:2px;font-size:0;display:inline;float:left;position:relative;left:2px;width:96px;bottom:-4px;background:#000;opacity:0.2;filter:alpha(opacity=20)}


/* pager */
.pager{text-align:center;margin:40px auto 40px auto;zoom:1;font-family:Tahoma, Arial, "宋体"}
.pager a,.pager .cur{display:inline-block;color:#666;font-weight:400;text-decoration:none;padding:0 0 0 9px;margin:0 4px 0 0;background:url() no-repeat 0 -823px}
.pager a span,.pager .cur span{background:url() no-repeat right -823px;padding:0 9px 0 0;height:24px;display:inline-block}
.pager .cur,.pager a:hover{background:url() no-repeat 0 -799px;text-decoration:none}
.pager .cur span,.pager a:hover span{background:url() no-repeat right -799px;color:#fff}
.pager .cur{font-weight:700}
.pager a.next span{padding-right:16px;background:url() no-repeat -88px -751px}
.pager a.next:hover span{background:url() no-repeat right -727px;color:#fff}
.last,.prv,.next{position:relative;top:-1px\09;*top:-3px;_top:1px;+line-height:26px;_line-height:22px}
.pager a.prv{padding-left:16px;background:url() no-repeat 0 -751px}
.pager a.prv span{background:url() no-repeat -14px -775px}
.pager a.prv:hover{background:url() no-repeat 0 -727px}
.pager a.prv:hover span{background:url() no-repeat -14px -727px;color:#fff}
#main .pager{margin-top:30px}
.allcount{clear:both;padding:10px 0 0 0}

/* footer */
#footer{overflow:hidden}
.servicebox{background:#fcfcfc;padding:5px;border:solid 1px #e8e8e8}
.service{background:#fff;padding:15px 20px;overflow:hidden;background:#fff url(img/line.gif) repeat-y 0 10px;position:relative;width:928px}
.service .bgtop,.service .bgbtm{height:12px;font-size:0;line-height:0;overflow:hidden;background:#fff;display:block;clear:both;position:absolute;left:15px;width:930px}
.service .bgtop{top:0}.service .bgbtm{bottom:-1px}
.service dl{display:block;float:left;zoom:1;width:130px;margin:-8px 20px 0 20px;}
.service dt{font:700 15px/30px 'Microsoft YaHei',arial}
.service a{color:#666}.service a:hover{color:#FB4E0B}
.service .kefu{width:200px}
.service .kefu dt{height:60px;background:url(img/service.gif) no-repeat -1px 8px;overflow:hidden; line-height:300px}
.service dd.follow{background:url() no-repeat 1px -882px}
.service dd.follow a{display:inline-block;width:20px;height:24px;overflow:hidden;margin:0 4px 0 0;line-height:160px;vertical-align:middle}
.copyright{padding:0 0 10px 0;text-align:center}.copyright a{color:#666}.copyright span{color:#aaa;padding:0 8px}
.cert{background:url(img/service.gif) no-repeat 0 -74px;text-align:center;margin:10px 0;overflow:hidden;zoom:1;clear:both}
.cert a,.cert span{display:inline-block;height:48px;line-height:120px;width:188px;float:left;margin-right:10px;overflow:hidden}
.cert .cert4{margin-right:0}

#toTop{display:block;width:19px;height:73px;background:url() -121px -994px no-repeat;cursor:pointer;visibility:hidden;position:fixed;left:50%;margin-left:490px;bottom:100px;_position:absolute;text-indent:-9999px}



/* from v3 */
.b15{margin-top:15px}
.none{display:none}
a.input,.input{background:url(img/ucico.png) no-repeat -322px -109px;border:0;text-align:center;font-weight:700;cursor:pointer;color:#fff;overflow:hidden;vertical-align:middle;padding:0;margin:0}
a.input,a.input:link,a.input:visited{display:inline-block;color:#fff;text-decoration:none}
.input4{width:78px;height:21px;font-size:12px;line-height:21px;padding-bottom:3px;padding:3px 0 0 0\9}
.input42,.input2{background-position:-233px -112px!important;width:86px;height:24px;padding-bottom:3px;padding:2px 0 0 0\9;font-size:14px}
.input2{background-position:-161px -112px!important;width:68px}
.input1{background-position:-161px -81px!important;width:121px;height:27px;line-height:27px;padding-left:10px;font-size:16px;padding-bottom:3px}
a.input4{margin-left:10px}
a.input42,a.input2{line-height:24px;height:23px\9;padding-top:1px\9}
a.input1{width:111px;height:26px;padding-left:10px;font-weight:normal;padding-top:1px;padding-top:2px\9}
a.zhuce{background:url(img/ucico.png) no-repeat -302px -81px;width:106px;height:24px;overflow:hidden;display:block;line-height:24px;text-align:center;font-weight:bold;color:#333}
.input5{padding:2px 3px}

/* pop */
#colorbox,#popOverlay,#popWrapper{position:absolute;top:0;left:0;z-index:9999;overflow:hidden;text-align:left}#popML,#popBL{clear:left}#popPrevious,#popNext,#popSlideshow{cursor:pointer}#popLoadingOverlay,#popLoadingGraphic{position:absolute;top:0;left:0;width:100%}.popPhoto{float:left;border:0;display:block;margin:auto}.popIframe{width:100%;height:100%;display:block;border:0}#popOverlay{position:fixed;width:100%;height:100%;background:#000;filter:alpha(opacity=30);opacity:.3}#popTL,#popTR,#popBL,#popBR{width:7px;height:7px;background:url(img/popbox.png) no-repeat 0 0;overflow:hidden}#popTL{background-position:-10px -10px}#popTR{background-position:-23px -10px}
#popBL{background-position:-10px -23px}#popBR{background-position:-23px -23px}#popML,#popMR{background:url(img/popbox.png) repeat-y 0 0;width:7px;overflow:hidden}
#popTC,#popBC{background:url(img/popbox.png) repeat-x 0 0;height:7px;overflow:hidden}#popML,#popMR,#popTC,#popBC,#popTL,#popTR,#popBL,#popBR{_background:#000;_filter:alpha(opacity=50)}
#popContent{position:relative;background:#fff;overflow:hidden}#popTitle{position:absolute;top:0;left:0;width:100%;color:#fff;height:27px;background:#fb4e0b;line-height:27px;text-indent:10px}
#popClose{position:absolute;top:0;right:8px;overflow:hidden;cursor:pointer;color:#fff;font-weight:700}#popLoadedContent{overflow:auto;margin-top:27px;background:#fff;padding:10px}
.popcon{padding:10px 30px 30px 30px}.popcon2{padding:10px 20px 20px 20px}.popcon h2{font-size:18px;font-family:"Microsoft YaHei","黑体",arial;color:#fb4e0b}
.popcon2 p{text-align:left;line-height:21px;padding:0 0 10px}



.ishare a,.ulogin a,.sharecon a,a.d_add,a.d_del,.rlogin a/*,.quote_tit2_div a*/{background:url(img/sico.png) no-repeat 0 0;overflow:hidden;padding-left:20px;line-height:18px;line-height:20px\9}
.ishare{background:#fff;border:1px solid #e0e0e0;border-bottom:0;height:16px;right:15px;padding:5px 20px;position:absolute;top:-30px;_padding:5px 20px 3px;line-height:17px}
.ishare li,.sharecon li{display:inline-block;float:left;padding:0 10px 0 0;line-height:17px;height:17px;overflow:hidden;vertical-align:baseline}
.allshare{margin-top:20px;}
.allshare p{height:120px;overflow:hidden;margin-bottom:20px;font-size:12px;line-height:25px}
.allshare p img{float:left;padding-right:15px}
ul.sharecon{display:block;height:18px;}
.i_renren,.i_sina,.i_kaixin,.i_douban,.i_copy,.i_qq,.i_163,.i_qzone,.i_taobao,.i_360,.i_qq1,.i_baidu,.i_2345,.i_tuan800{display:inline-block;line-height:18px}
.ulogin p a{margin-right:25px}
a.i_renren{background-position:0 -52px}a.i_sina{background-position:0 0}a.i_kaixin{background-position:0 -26px}a.i_douban{background-position:0 -78px}a.i_copy{background-position:0 -938px}a.i_qq{background-position:0 -104px}a.i_163{background-position:0 -131px}a.i_qzone{background-position:0 -157px}a.i_taobao{background-position:0 -372px}a.i_360{background-position:0 -346px}a.i_qq1{background-position:0 -320px}a.i_baidu{background-position:0 -459px}a.i_2345{background-position:0 -490px}a.i_tuan800{background-position:0 -520px;border:0}

ul.sharecon{display:block;height:18px;}
.quote_tit2_div{zoom:1;overflow: hidden;}
.quote_tit2_div a{color:#333; font-size:12px;}
.quote_tit2_div .sharecon{float:right;margin-top:25px;}
.quote_tit2_div a.i_qq {background-position: 0 -104px}

/* ucbase */
h2#helptit a,h2#abouttit a,h2#uctit,.i_tips em,.error em,.asker,.rang{background:url(img/ucico.png) no-repeat 0 0}
.i_tips{border:1px solid #eeeded;color:#666;line-height:18px;background:#fcfcfc;position:absolute;left:330px;top:1px;*top:3px;_top:4px;font-size:12px;width:200px;z-index:1;padding:3px 6px;*left:335px}
.error{color:red;border:1px solid #fecece;background:#fffaf4}
.i_tips em{width:6px;height:11px;overflow:hidden;display:block;position:absolute;left:-6px;top:7px;background-position:-296px -84px}
.error em{background-position:-285px -84px}
.i_text{margin:1px;border:1px solid #ccc;height:18px;width:200px;background:#fff;line-height:18px;font-size:14px;font-family:arial,tahoma,"宋体",sans-serif;padding:3px;box-shadow:inset 1px 1px 2px #e4e4e4}
.i_error{border:1px solid red}
.i_text:focus,.i_focus{margin:0;border:2px solid #abc553;font-weight:700}
.i_select,.i_textarea{width:208px;border:1px solid #ccc;font-size:14px;padding:3px}
.i_textarea{width:422px;height:80px;vertical-align:top}
.i_suc{border:0;background:url(img/sico.png) no-repeat 0 -421px;height:18px}
.i_yanz{width:50px}
.quyu{width:103px}

.ucon{margin:20px 0}
.ucon p{font-size:14px}
.ucon h3{font-size:14px;font-weight:700;line-height:21px}
.ucon li{position:relative;margin:14px 0 0;_padding:1px 0;zoom:1}
.ucon li label{width:110px;overflow:hidden;vertical-align:middle;display:inline-block;text-align:right;font-size:14px}
.ucon li .tips3{margin-left:113px;font-size:12px;color:#ccc}
a.par{background:url(img/close.png) no-repeat right 4px;padding:0 12px 0 0;margin-right:20px;display:inline-block;overflow:hidden;height:15px;line-height:15px;line-height:16px\0;vertical-align:middle;font-size:14px}
.ucon li a.par{font-size:12px}
.utit{border-bottom:1px solid #e2e2e2;padding-bottom:5px;overflow:hidden;zoom:1}
.utit h2{font:700 18px/24px '微软雅黑';display:inline}
.utit li{float:left;margin-right:5px}
.utit li a,.utit li a:link,.utit li a:visited{color:#333;padding:2px 6px}
.utit li a:hover,.utit li.cur a,.utit li.cur a:link,.utit li.cur a:visited{background:#fb4e0b;border:1px solid #f03b00;color:#fff;text-decoration:none;padding:1px 5px}
.utit li.cur a{font-weight:700}
.utit ul{float:right;padding-top:8px}

/* email */

.buy_info{margin:20px 0}
.buy_info h2{font-size:14px;font-weight:bold;margin:13px 0}
.buy_info li{padding:5px 0 5px 10px;font-size:14px;zoom:1}
.buy_info li.i_font12{font-size:12px}
.buy_info li label{padding-left:3px}
.buy_info li a{float:right}
.buy_info .id_info li label{width:90px}
.buy_info .id_info .testsex input{width:auto!important;margin:0 5px 0 0!important;border:0!important;padding:0!important}
.orderbtn{width:121px;padding:20px 0;margin:0 auto}
.buy_form{margin:15px 0}
.buy_form h3{font-weight:bold;font-size:16px;padding-left:78px}
.buy_form p{font-size:12px;padding-left:78px}
.buy_form li a{float:none}
.buy_form li{padding:0 0 0 10px}
.buy_form li label{width:70px}
.buy_form li .i_tips{left:305px} 



/*  */
#navlist{ position:relative;z-index:1000;width:1000px;margin:0 auto}#navlist ul{padding-left:2px;height:27px;line-height:27px;position:absolute;left:244px;top:-27px;overflow:hidden}#navlist li{border-right:1px solid #d6d6d6;border-left:1px solid #fff;height:14px;line-height:14px;float:left;padding:0 15px;margin-top:6px}#navlist li.sel{background:#fff;height:27px;line-height:26px;margin:0;border-left:1px solid #d6d6d6;font-weight:700;margin-left:-1px}#navlist li#navbrn{border-right:none}#navlist li#navbln{border-left:none}#navlist li.sel#navbrn{border-right:1px solid #d6d6d6}#navlist li.sel#navbln{border-left:1px solid #d6d6d6;}#navlist li a{color:#666}