@charset "utf-8";
.sortbar {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.sortor LI A {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.sortor LI.cur A {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.arrw {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.arrw1 {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.arrwdown {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
.arrwdown1 {
	BACKGROUND-IMAGE: url(img/n_lister_img_bj.gif) !important
}
/* 通用banner */
.gslider{margin:10px auto;height:60px;overflow:hidden;position:relative;display:none;z-index:1;box-shadow:0 2px 3px #ccc}
.gslider .close{z-index:2147483647}
.slider,.num{position:absolute;right:0}
.slider li{background:#000;height:60px;overflow:hidden}
.num{bottom:10px;right:5px}
.num li{float:left;line-height:13px;height:13px;width:13px;text-align:center;display:block;border:solid 1px #fff;background:#fff;color:#000;margin:0 5px 0 0;cursor:pointer}
.num li.on{background:#ff6833;color:#fff;border-color:#f65b00}
/* 筛选 */
#filter{border:solid 1px #ddd;width:978px;border-bottom:none;margin-top:10px}
.selitem{border-bottom:solid 1px #ddd;padding:5px 0 5px 98px;position:relative;zoom:1;display:block;background:#fff}
.nobor{border-bottom:none}
.selitem dt{position:absolute;left:12px;top:5px;color:#000;}
.selitem dd{display:block;overflow:hidden;line-height:24px}
.selitem dd a,.selitem dd .select{margin-right:14px;white-space:nowrap;display:inline-block}
.selitem dd a span,.shangquan span,.selitem dd .select span{color:#aaa;padding:0 0 0 3px;font-size:10px}
.selitem .select{color:#000;font-weight:700}
.selitem .selectt a:hover span{color:#fff;}
.selitem .selectt{color:#fff;}
.selitem dd .select span{font-weight:400}
.all{position:absolute;left:55px;top:5px;padding-left:5px;background:url(img/allbj.jpg) no-repeat;}
.shangquan{padding:3px 12px;background:#f8f8f8;margin:3px 0 10px 0}

.selitem dd a:hover,.selitem dd a:hover span{color:#FB4E0B;}
.selitem dd.fold1,.selitem dd.fold2{height:25px;overflow:hidden;padding-right:40px}
.selitem dd.fold2{height:49px}
.selitem dd.autoHeight{height:auto}
.selitem dd .moreitem{display:block}
#filter .sql_fold,#filter .sql_unfold{display:none;width:40px;margin:0;position:absolute;right:0;top:10px;line-height:14px;font-family:'宋体';cursor:pointer}
/* hotel */
.hotel{padding:5px 0 5px 110px}
.hotel .all{left:67px}
.hotel dd a,.hotel dd .select{width:70px;margin-right:0;float:left}
.hotel dd a.all{width:auto}
/* 排序 */
.sortbar {
	POSITION: relative; BACKGROUND: repeat-x 0px 0px; HEIGHT: 37px;BORDER-BOTTOM: #d5d5d5 1px solid;
}
.sortor {
	POSITION: absolute; BORDER-LEFT: #d1d1d1 1px solid; HEIGHT: 24px; OVERFLOW: hidden; TOP: 6px; LEFT: 11px
}
.sortor LI {
	FLOAT: left
}
.sortor LI A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; DISPLAY: inline-block; BACKGROUND: 0px -48px; HEIGHT: 24px; COLOR: #666; BORDER-RIGHT: #d1d1d1 1px solid; PADDING-TOP: 0px
}
.sortor LI A:hover {
	COLOR: #fd560b; TEXT-DECORATION: none
}
.arrw {
	MARGIN: 0px 0px 0px 4px; WIDTH: 8px; DISPLAY: inline-block; HEIGHT: 21px; VERTICAL-ALIGN: middle
}
.arrw1 {
	MARGIN: 0px 0px 0px 4px; WIDTH: 8px; DISPLAY: inline-block; HEIGHT: 21px; VERTICAL-ALIGN: middle
}
.arrwdown {
	MARGIN: 0px 0px 0px 4px; WIDTH: 8px; DISPLAY: inline-block; HEIGHT: 21px; VERTICAL-ALIGN: middle
}
.arrwdown1 {
	MARGIN: 0px 0px 0px 4px; WIDTH: 8px; DISPLAY: inline-block; HEIGHT: 21px; VERTICAL-ALIGN: middle
}
.sortor LI A .arrw {
	BACKGROUND: 0px -111px
}
.sortor LI A .arrw1 {
	BACKGROUND: -26px -111px
}
.sortor LI A .arrwdown {
	BACKGROUND: -13px -111px
}
.sortor LI A .arrwdown1 {
	BACKGROUND: -39px -111px
}
.sortor LI.cur A {
	BACKGROUND: 0px -82px; COLOR: #000
}


/* lister */
.listerouter{width:980px;overflow:hidden;zoom:1;}
.lister{width:990px;zoom:1;overflow:hidden}
.tuanitem{background:#fff;position:relative;display:block;width:294px;height:321px;float:left;border:solid 1px #bbb;margin:0 10px 12px 0;padding:12px;}
.lister .hover{border-color:#bbb}
.tuanitem dt{position:relative;z-index:1;height:184px;width:294px}.tuanitem dt a{display:block;height:184px;width:294px;background:url(img/loading.gif) no-repeat 50% 45% #f0f0f0}
.tuanitem dt a img{height:184px;width:294px;color:#f0f0f0}.tuanitem dt a:hover{text-decoration:none}
.tuanitem dt a:hover img{ top:0; left:0; border:2px solid #93D20C; }




.tuanitem .new,.tuanitem .hot,.tuanitem .hot2,.tuanitem .sec,.tuanitem .yg{width:54px;height:54px;position:absolute;left:-7px;top:-4px}

.tuanitem .hot1{width:41px;height:39px;position:absolute;left:30px;top:-4px}
.tuanitem .hot{background:url(img/icon_news.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/icon_news.png",sizingMethod='crop')}
.tuanitem .hot1{background:url(img/icon_mian.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/icon_mian.png",sizingMethod='crop')}
.tuanitem .hot2{background:url(img/icon_mian.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/icon_mian.png",sizingMethod='crop')}

.tuanitem .new{background:url(img/ico_new.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/ico_new.png",sizingMethod='crop')}
.tuanitem .hot{background:url(img/icon_news.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/icon_news.png",sizingMethod='crop')}
.tuanitem .sec{background:url(img/ico_sec.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/ico_sec.png",sizingMethod='crop')}
.tuanitem .yg{background:url(img/ico_yg.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/static/theme/58/css/img/ico_yg.png",sizingMethod='crop')}
.local{height:26px;line-height:26px;position:absolute;left:10px;bottom:0;color:#fff;z-index:2;text-overflow:ellipsis;width:280px;display:block;white-space:nowrap;overflow:hidden}
.localmask{display:block;height:26px;width:294px;position:absolute;left:0;bottom:0;overflow:hidden;background:#000;opacity:0.4;filter:alpha(opacity=40)}

.tuanitem dd.des{padding:6px 0 33px 0;font:700 15px/22px "Microsoft YaHei",arial}
.tuanitem dd.shadow{display:block;position:absolute;bottom:-3px;_bottom:-4px;left:2px;width:314px;height:2px;overflow:hidden;background:#f0f0f0}
.tuanitem h2{height:45px;margin-bottom:10px;text-overflow:ellipsis;width:294px;display:block;overflow:hidden}

.golook,.soldout_i{float:right;display:inline-block;width:95px;height:32px;margin-right:-3px;overflow:hidden;line-height:170px;background:url() no-repeat 0 -338px;position:relative}
.soldout_i{background:url() no-repeat 0 -400px}.golook:hover{background:url() no-repeat -152px -338px}
.nprice{color:#fd560b;font-size:28px;line-height:35px;font-family:"Microsoft YaHei",arial}.nprice i{font-style:normal;font-size:23px;padding-right:5px;vertical-align:1px}
.tuanitem dd.btmbar{height:38px;width:318px;overflow:hidden;line-height:38px;position:absolute;left:0;bottom:0;background:url() repeat-x 0 -162px;color:#000; float:left}
.btmbar span{display:inline-block;float:left;}
.oprice{margin-left:12px;width:80px;color:#666}
.savemoney{text-align:left;width:120px;color:#FE6406}
.ordernums{text-align:right;margin-right:12px;width:94px;color:#666}
.ordernums b{color:#ff3300;padding-right:3px;font-size:16px;vertical-align:-2px;_vertical-align:0}
.olist{line-height:36px;font-size:16px;font-weight:700;padding:0 0 0 10px;background:#fdf5e6;color:#339900;margin-bottom:10px}

/* list_search */
.searchBox{padding:20px 22px;border-bottom:solid 1px #f4f4f4;position:relative;zoom:1}
#l_search{width:340px;height:31px;overflow:hidden;background:url() no-repeat 0 -176px;position:relative}
.searchBox .shadow{height:17px;width:978px;display:block;font-size:0;position:absolute;left:0;bottom:0;background:#fdfdfd}
.searchBox .hover .kw{color:#000;left:6px;width:274px}
.searchBox .kw{left:6px;width:274px}
.searchRe{padding:15px 12px 0 12px}
.searchRe .bar{line-height:22px;font-size:14px;padding:5px 0 5px 10px}h3.bar{background:#fcfcfc}.searchRe .bar h1{display:inline;color:#FB4E0B}
#sRlist dl{display:block;zoom:1;overflow:hidden;border-bottom:dashed 1px #f0f0f0;padding:15px 10px 15px 10px}#sRlist dl.hover{background:#fcfcfc;border-bottom-style:solid}
#sRlist dt{float:left;margin:0 15px 0 0; display:block;height:131px}
#sRlist dd{margin-top:-7px;padding:0 0 0 227px}
#sRlist h3{font-size:14px;font-weight:400}
#sRlist p{padding:0 120px 0 0;display:block;position:relative;color:#888;zoom:1}
#sRlist p span{margin-right:3em}
#sRlist p b{color:#FB4E0B}
#sRlist p .nprice{line-height:34px;font-size:24px;}
#sRlist .golook2{display:inline-block;width:96px;height:27px;overflow:hidden;line-height:80px;position:absolute;bottom:0;right:0;background:url() no-repeat 0 -605px}
#sRlist dl a:hover img{ top:0; left:0; border:2px solid #93D20C; }
/* noresult */
.noresult{padding:30px 40px;font-size:14px}
.noresult strong{color:#FB4E0B}


/* details */
.order,.order span,.kan a,.success,.yj,.fx,.quote_tit1,.quote_tit2,.quote_s,#plist p a,#plist p a:hover,.wqlist .wsold,.toplist .soldout_i span,.fix_index .new,.fix_index .hot,.buytips,.tousu,.xqlist{background:url(img/iico.png) no-repeat 0 0}
.i_fl{float:left;margin:0px 0 0;width:730px;background:#fff}
.main{background:#fff;border:3px solid #fa9b4d;position:relative;width:724px}
.main h2{font:700 24px/36px "微软雅黑","黑体";padding:20px;text-shadow:1px 1px 1px #ddd;word-wrap:break-word;word-break:break-all}
.mmain{margin:0 15px 15px}
.lmain{float:left;position:relative;width:217px}
.order{height:77px;overflow:hidden;position:absolute;right:-15px;top:-1px;width:263px;_right:-16px}
.order em{color:#fff;display:inline-block;font:700 36px/1.5 arial,tahoma,sans-serif;padding:1px 0 0 35px}
.order em.six{font:700 32px/1.5 arial,tahoma,sans-serif;padding:6px 0 0 25px}
.order a,.order span{display:inline-block;float:right;height:41px;line-height:200px;margin:8px 10px 0 0;overflow:hidden;width:97px}
.wait{background-position:0 -77px}
.wait span{display:none}
.end span{background-position:-102px -156px}
.sold span{background-position:0 -156px}
.kan a{background-position:0 -426px}
.discount{border:1px solid #fde6da;background:#fffbf4;left:0;position:absolute;text-align:center;top:52px;width:217px}
.discount th{color:#666;padding-top:20px;_padding-top:22px}
.discount td{font-size:14px;font-weight:700;padding:6px 5px 14px}
.buyinfo{border:0px solid #fde6da;background:#fffbf4;padding:0 10px;margin-top:0px}
.buyinfo p{border-bottom:1px dashed #fde6da;text-align:center;color:#666;padding:10px 0;line-height:24px}
.buynum span{font-size:20px;font-weight:700;padding:0 5px}
.timeleft i{color:#000;font-size:14px;font-style:normal;font-weight:700;padding:0 2px}
.savetime{display:none}
p.success{background-position:-234px -278px;font-weight:700;border-bottom:0;margin:25px 0;color:#333;padding:0 0 0 24px}
.rmain{float:right;overflow:hidden;width:460px}
.rmain img{height:275px;width:680px;overflow:hidden;display:block}
.buytips{font-size:12px;line-height:23px;margin-top:10px;width:420px;overflow:hidden;background-position:0 -520px;font-size:13px;padding:0 0 0 20px}
.buytips strong{font-size:14px;font-family:"黑体"}
.buytips .fl,.buytips .fr{width:200px;overflow:hidden;word-wrap:break-word}
.buytips .fr{padding-left:10px}
.yj,.fx{display:block;height:4px;overflow:hidden;position:absolute;width:4px}
.lt{background-position:-252px -232px;left:-3px;top:-3px}
.rt{background-position:-256px -232px;right:-3px;top:-3px}
.lb{background-position:-252px -236px;bottom:-3px;left:-3px}
.rb{background-position:-256px -236px;bottom:-3px;right:-3px}
.fx{height:5px;width:5px; position:absolute}
.flt,.flt1{background-position:-239px -232px;left:-1px;top:-1px}
.frt,.frt1{background-position:-244px -232px;right:-1px;top:-1px}
.flt1{background-position:-239px -243px}
.frt1{background-position:-244px -243px}
.flb{background-position:-239px -237px;left:-1px;bottom:-1px}
.frb{background-position:-244px -237px;right:-1px;bottom:-1px}
.xq{background:#fff;border:1px solid #dcdcdc;margin-top:15px;position:relative;width:728px}
.xqlist{background-position:0 -198px;background-repeat:repeat-x;height:31px;overflow:hidden}
.xqlist li{float:left}
.xqlist li a{border-right:1px solid #dcdcdc;color:#333;display:block;font-size:14px;height:31px;line-height:31px;text-align:center;width:110px}
.xqlist li.cur a,.xqlist li.cur span{background:#fff;font-weight:700;position:relative}
.details{border-right:1px solid #ebebeb;float:left;font-size:14px;line-height:24px;overflow:hidden;padding:10px 19px 30px;width:460px;_padding:20px 19px 30px}
.wide{float:none;border:0;overflow:hidden;width:670px}
.details h2{background:#f73d00;color:#fff;background:-webkit-gradient(linear,left bottom,right bottom,color-stop(0, #f94306),color-stop(1, #ff7931));background:-moz-linear-gradient(left,#f94306 0%,#ff7931 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f94306',endColorstr='#ff7931',GradientType=1);font:700 14px/23px arial,tahoma,"宋体",sans-serif;height:25px;line-height:25px;margin:10px 0;overflow:hidden;text-indent:5px;border-radius:3px}
.details h4{color:#f73d00;font-size:14px;font-weight:700;margin-top:10px}
.details p,.details p img{padding:5px 0}
.quote_tit1,.quote_tit2{background-position:-77px -261px;height:24px;line-height:100px;margin:20px 0 15px;overflow:hidden;width:72px}
.quote_tit2{background-position:-77px -285px}
.quote_s{background-position:0 -520px;font-size:13px;padding:0 5px 0 20px}
p.quote_n{border-bottom:1px dashed #e8e7e7;font-size:12px;margin-bottom:10px;padding:0 5px 10px 0;text-align:right}
p.quote_n strong,p.quote_n a{color:#285eb5;font-weight:700;padding:0 5px}
.side{float:right;line-height:25px;overflow:hidden;padding:15px;width:198px}
.side dl{margin-bottom:20px}
.side dd img{display:block}
.side dt{color:#690;font-size:14px;font-weight:700;padding-bottom:5px}
.side dd.map,.moremap{background:#fefefe;border:1px solid #f1f0f0;margin-top:10px;text-align:center}
.side dd.map a{color:#333}
.moremap{background:#f5f5f5;border:1px solid #f1f0f0}
.i_fr{float:right;margin-top:0px;overflow:hidden;width:235px;border-left:1px solid #dcdcdc;background:#fff}
.rbox{margin-bottom:15px;width:253px;overflow:hidden;border:1px solid #e8e8e8;background:#fff}
.rbox h3{font:700 14px/27px "微软雅黑";height:27px;padding-left:15px;width:240px;overflow:hidden;background:#fefefe;border-bottom:1px solid #f4f4f4}
.rbox2{margin-bottom:15px;width:680px;overflow:hidden;border:1px solid #e8e8e8;background:#fff}
.rbox2 h3{font:700 14px/27px "微软雅黑";height:27px;padding-left:15px;width:240px;overflow:hidden;background:#fefefe;border-bottom:1px solid #f4f4f4}
.wzlist li{margin:12px 15px}
.hdlist li{height:77px;overflow:hidden}
.tousu{background-position:0 -231px;height:27px;line-height:200px;float:right;display:block;width:100px;overflow:hidden}
.wzlist li.dytit{background:none;color:#ccc;margin-left:8px}
.wzlist .dytit a,.wzlist .dytit a:link,.wzlist .dytit a:visited{color:#06c;padding:0 6px}
.sphone{border-top:1px dashed #f1f1f1;line-height:23px;padding:5px 0;margin:0 15px}
.sphone b{color:#690}
.mt10{margin-top:15px}

.fix_index{margin:15px 0 -20px 0}
.fix_index .main{margin:0 0 20px 0;position:relative}
.fix_index .new,.fix_index .hot{width:43px;height:43px;position:absolute;text-indent:-999999px;left:-5px;top:-5px}
.fix_index .new{background-position:-220px -416px}
.fix_index .hot{background-position:-154px -261px}
.fix_index .buyinfo p{padding:12px 0 11px}
.fix_index .buyinfo p.timeleft{border-bottom:0}
.fix_index .load{height:50px}
.fix_index .load img{position:absolute;left:10px;top:10px}
.load img{position:absolute;top:275px;left:22}


.toplist{*margin-bottom:20px}
.toplist li{width:310px;margin:0 20px 20px 0;border:1px solid #e3e3e3;position:relative}
.toplist li.even{margin:0 0 20px}
.toplist .bline_01{width:342px}
.toplist .bline_02{width:340px}
.toplist a img{width:310px;height:194px}
.toplist .golook{width:218px;height:59px;background-position:0 -339px;position:absolute;;left:-8px;top:285px;z-index:1}
.toplist .golook p{height:45px;padding:3px 0 0 18px;color:#fff;font-weight:bold;font-size:16px;margin-right:100px}
.toplist .golook p em{font-size:27px;vertical-align:-7px;font-weight:700;display:inline-block;padding-left:5px}
.toplist .golook p em.six{font-size:24px}
.toplist .golook a,.toplist .soldout_i span{display:block;width:99px;float:right;height:45px;line-height:200px;overflow:hidden}
.toplist .soldout_i span{cursor:default;background-position:-119px -426px}

.blist{margin-bottom:20px;border:1px solid #e4e4e4;width:707px;position:relative;background:#FFF}
.blist h2{font-size:14px}
.blist ul{overflow:hidden}
.blist li{width:200px;border-right:1px solid #f3f3f3;padding:12px 17px 7px}
.blist li.last{border-right:none}
.blist img{width:200px;height:125px;margin-bottom:10px}
.blist .golook{width:86px;height:23px;background-position:0 -400px;float:right;display:block;line-height:200px;overflow:hidden}
.blist .soldout_i{background-position:-91px -400px}
.blist .bline_01{width:707px}
.blist .bline_02{width:705px}
.blist .info .c2{font:bold 16px/25px Arial, Helvetica, sans-serif}

.rmain .slide{width:680px;height:267px;position:relative;overflow:hidden}
.rmain .slide .slide_con{position:absolute}
.rmain .slide .slide_con li{float:left}
.rmain .slide .slide_nav{position:absolute;bottom:5px;right:10px}
.rmain .slide .slide_nav li{float:left;width:17px;height:17px;background:url(img/iico.png) -202px -155px no-repeat;text-align:center;line-height:17px;margin-left:3px;cursor:pointer;color:#F73D00}
.rmain .slide .slide_nav li.on{background-position:-219px -155px;color:white}


/* 往期团购 */
.wqlist .wtime,.wqsearch .choose-date{background:url(img/sico.png) no-repeat}
#plist p a{background:url(img/iico.png) no-repeat}
.rbox{margin-bottom:15px;width:233px;overflow:hidden;border:1px solid #e8e8e8;background:#fff}
.rbox h3{font:700 14px/27px "微软雅黑";height:27px;padding-left:15px;width:218px;overflow:hidden;background:#fefefe;border-bottom:1px solid #f4f4f4}

#plist{margin-bottom:0px}
#plist li{border-bottom:1px solid #f0f0f0;overflow:hidden;padding:15px 11px 15px 12px;width:210px}
#plist h2 a{color:#333;display:block;margin-bottom:10px}
#plist h2 img{ width:210px;height:131px;display:block;margin-bottom:10px}
#plist h2 a:hover{color:#f73d00}
#plist p{color:#666;line-height:21px}
#plist p span{color:#f73d00;font-size:16px;font-weight:700}
#plist p a{background-position:-167px -312px;display:block;float:right;height:21px;line-height:70px;overflow:hidden;width:86px}
#plist p a:hover{background-position:-77px -312px}
.wzlist li{margin:12px 15px;line-height:20px}
.hdlist li{height:77px;overflow:hidden}
#plist h2 a{font-size:12px;font-weight:400;color:#333}

.i_flw{border:solid 1px #e8e8e8;position:relative;background:#fff;padding:30px}
.lister .i_flw{margin-right:10px}

.wqlist{width:650px;overflow:hidden}
.wqlist li{width:304px;float:left;padding:15px 20px 20px 0;overflow:hidden;height:200px;border:1px solid #e2e2e2;border-width:0 1px 1px 0;position:relative}
.wqlist li.wq2{padding:15px 0 20px 20px;border-right:0}

.wqlist .wtime{color:#000;font-weight:bold;background-position:0 -292px;text-indent:13px;font-size:14px; line-height:22px}
.wqlist h2{margin:10px 0 15px;font-size:14px;height:40px;overflow:hidden;line-height:20px;font-weight:400}
.wqlist img{width:190px;height:119px}
.wqlist .wdis{float:left;margin-left:15px;width:95px;overflow:hidden;color:#666; line-height:20px}
.wqlist strong{font-size:14px;color:#000}
.wqlist .red{font-weight:bold;font-size:14px}
.wqlist h3{margin-bottom:7px}
.wqlist h3 .red{color:#f73d00;font-size:17px}
.wqlist p{margin:2px 0}
.wqlist .wsold{position:absolute;width:76px;height:75px;overflow:hidden;line-height:200px;left:118px;top:97px;_top:93px;background-position:0 -262px}
.wqlist li.wq2 .wsold{left:138px}
.cat{overflow:hidden;padding:10px 0;width:233px}
.cat li{font-size:14px;width:56px;margin:5px 0 5px 13px;_margin:5px 5px 5px 6px;display:inline-block;float:left;overflow:hidden}





/*a_tj_column_end*/

.l_bar{background:url() 0 -182px; height:31px; line-height:31px; overflow:hidden;}
.l_bar b{font-size:14px; padding-left:21px; float:left;}
a.bfd_img_logo {background: url("http://static.baifendian.com/themes/logo/bfd_logo_ch.png") no-repeat 0 0;_background:url(http://static.baifendian.com/themes/logo/bfd_logo_ch.gif) no-repeat;overflow:hidden; display: block; float: right; height: 13px; margin: 8px 8px 0 0; overflow: hidden; width: 101px;}
a.bfd_img_logo:hover{background:url("http://static.baifendian.com/themes/logo/bfd_logo_ch.png") no-repeat 0 -14px;_background:url(http://static.baifendian.com/themes/logo/bfd_logo_ch.gif) no-repeat 0 -14px;}

.l_tj{width:978px;border:solid 1px #ccc;background:url(http://pic2.58.com/n/tuan/v4/img/4colums.gif) repeat-y -2px 0 #fff;margin-bottom:10px;position:relative}
.l_tj .lister_4{border-bottom:0;}
.rdl_2{position:relative; width:210px; height:215px; float:left; padding:20px 16px 0 16px; line-height:18px; }
.rdl_2 a{color:#666}
.rdl_2 a:hover{color:#f00;text-decoration:underline}
.rdl_2 dt{width:210px;overflow:hidden}
.rdl_2 dt img{display:block;width:210px;height:131px;margin-bottom:6px}
.rdl_2 .info{position:absolute;left:12px;bottom:10px;height:24px;line-height:24px;width:215px; color:#999}
.rdl_2 .info .ltext{float:left;font-size:18px;font-weight:700;color:#f00}
.rdl_2 .info .ltext i{font-style:normal;font-size:14px;padding-right:2px; vertical-align:1px}
.rdl_2 .info .rtext{float:right;}
.rdl_2 dd.zk_t{width:46px; height:26px; padding-top:5px; position:absolute; right:16px; top:19px; background:url(http://pic2.58.com/n/tuan/v4/images/link_tj_img_1.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/link_tj_img_1.png',enabled='true', sizingMethod='scale'); _background:none; text-align:center; color:#96624d;}
.rdl_2 dd.zk_t b{color:#9b4928; font-weight:bold; font-size:14px; padding-right:3px; vertical-align:-1px; font-style:oblique;}
/*底部推荐*/