<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('flinks_view')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>查看友情链接</h2>
				</div>
                <div class="sect">
				<!--{if $flinks}-->                
                    <div class="field fullname">
                        <label>站点名称：</label>
                        {$flinks['link_name']}
                    </div> 
                    <div class="field fullname">
                        <label>链接网址：</label>
                        {$flinks['link_url']}
                    </div> 
                    <div class="field fullname">
                        <label>网站管理员：</label>
                        {$flinks['link_admin']}
                    </div>
                    <div class="field fullname">
                        <label>联系电话：</label>
                        {$flinks['link_phone']}
                    </div>                         
                    <div class="field suggest">
                        <label>添加时间：</label>
                        {$flinks['link_addtime']}
                    </div>
                    <div class="field fullname">
                        <label>排序：</label>
                        {$flinks['link_order']}
                    </div>
                    <div class="field fullname">
                        <label>是否显示：</label>
                        <!--{if $flinks['link_display']==0}-->
                        	<font color="#FF0000">不显示</font>
                        <!--{else}-->
                        	显示
                        <!--{/if}-->
                    </div>
                    <div class="clear"></div>	
                <!--{/if}-->				
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
