<!--{include header}-->
<style type="text/css">
#kaixin .bind {color: #333333;}
#kaixin .bind .head {padding: 30px 10px 25px 40px;}
#kaixin .bind .sect {height: 330px;}
#kaixin .bind .list {float: left;margin: 10px 30px;}
#kaixin .bind .list li {float: left;list-style-position: inside;list-style-type: none;padding: 15px 10px;}
#kaixin .bind .list .current {background: none repeat scroll 0 0 #F5F5F5;}
#kaixin .bind .list h3 {cursor: pointer;font-size: 16px;}
#kaixin .bind .list .input {float: left;margin-top: 3px;width: 37px;}
#kaixin .bind .list .text {float: left;width: 560px;}
#kaixin .bind .list .f-text {width: 240px;}
#kaixin .bind .list .intro {margin: 10px 0 5px;}
#kaixin .bind .list .commit {padding-top: 10px;}
#kaixin .bind .list .create {margin-top: 15px;}
#kaixin .bind .list .commit .formbutton {background-position: 0 -100px;}
#kaixin .bind .list .hide {height: 0;overflow: hidden;}
#kaixin .bind .list .textbody {overflow: hidden;}
#kaixin .bind .enter-account td {padding: 5px 0;}
#kaixin #kaixin-bind-list h3 {margin-bottom: 10px;}
#kaixin h3 .tip {font-weight: normal;}
</style>
<!---content--->
<div class="wrap2">

  <div class="uleft2" id="referrals">
    <div class="utit">
      <h2>邀请有奖</h2>
    </div>

<div id="kaixin">

    <div class="bind">
        <div>
            <div class="box-content">
                <div class="head"><strong>{$name}</strong>，您好！您已经用<!--{if $type=='sina'}-->新浪微博<!--{elseif $type=='qq'}-->腾讯微博<!--{else}-->QQ号<!--{/if}-->成功登录{$INI['system']['abbreviation']}。</div>
                <div class="sect">
                    <form method="post" id="kaixin-bind-form">
					<input type="hidden" name="sns_action" value="bind" />
                    <ul class="list" id="kaixin-bind-list">
                        <li id="kaixin-bind-signuped"  class="current">
                            <div class="text">
                                <h3  onClick="loginFun()">已经注册过{$INI['system']['abbreviation']}<span class="tip">（绑定<!--{if $type=='sina'}-->新浪微博<!--{elseif $type=='qq'}-->腾讯微博<!--{else}-->QQ号<!--{/if}-->和{$INI['system']['abbreviation']}账户）</span></h3>
                                <div sheight="145" class="textbody" id="bind">

                                    <div class="textbody-c">
                                        <table class="enter-account">
                                            <tr>
                                                <td style="width:50px;">Email</td>
                                                <td><input type="text" name="email" class="f-text" value=""/></td>
                                            </tr>
                                            <tr>
                                                <td>密码</td>

                                                <td><input type="password" name="password" class="f-text" /></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="commit"><input type="submit" value="绑定" class="formbutton" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                        </form>
                            </div>
                        </li>
                        <li id="kaixin-bind-unsignuped">
                            <div class="text">
                                <h3  onClick="regFun()" >还没有注册过{$INI['system']['abbreviation']}<span class="tip">（创建一个{$INI['system']['abbreviation']}账户）</span></h3>
                                <div sheight="72" id="create" class="textbody"  style=" display:none;">
                          <form method="post" id="kaixin-bind-form"  class="validator">
						        <input type="hidden" name="sns_action" value="reg" />
									<div class="textbody-c">
                                        <table class="enter-account">
                                            <tr>
                                                <td style="width:50px;">手机号</td>
                                                <td><input type="text" name="mobile" class="f-text" value=""  require="${option_yes('needmobile')?'true':'require'}" datatype="mobile" /></td>
                                            </tr>
											<tr>
                                                <td style="width:50px;">Email</td>
                                                <td><input type="text" name="email" class="f-text" value=""   require="true" min="2"  datatype="email|ajax" msg="格式不正确" url="${WEB_ROOT}/ajax/validator.php" vname="email"/></td>
                                            </tr>
                                            <tr>
                                                <td>密码</td>

                                                <td><input type="password" name="password" class="f-text"  datatype="require" require="true"  /></td>
                                            </tr>
                                            <tr>
                                                <td></td>

                                                <td class="commit"><input type="submit" value="创建" class="formbutton" /></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                          </form>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
                            </div>
							
												    <br /><br /><br />
  </div>
                             <div class="uright2 c3">
<div class="side-tip referrals-side">
    <h3>还没有{$INI['system']['abbreviation']}账户？</h3>
    <p class="c9">立即<a href="/account/signup.php">注册</a>，仅需30秒！</p>
    <p><a href="/account/signup.php" class="zhuce">注册新用户</a></p>
		</div>
            </div>
                   <div class="clear"></div>
</div>
<!---contentEnd--->
<script language="javascript">
function regFun(){
			$("#create").slideToggle("slow"); 
			$("#bind").slideToggle("slow"); 
			}
function loginFun(){
			$("#create").slideToggle("slow"); 
			$("#bind").slideToggle("slow"); 
			}
</script>
<!--{include footer}-->
