<!--${
$others_side_ns = abs(intval($INI['system']['sideteam']));
$others_team_id = abs(intval($team['id']));
$others_city_id = abs(intval($city['id']));
$others_now = time();
if ( abs(intval($INI['system']['sideteam'])) && !$disable_multi){
	$oc = array( 
			'team_type' => 'normal',
			"id <> '$others_team_id'",
			"begin_time < '$others_now'",
			"end_time > '$others_now'",
			"((city_ids like '%@$others_city_id@%' or city_ids like '%@0@%') or (city_ids = '' and city_id in(0,$others_city_id)))",
			);
	$others = DB::LimitQuery('team', array(
				'condition' => $oc,
				'order' => 'ORDER BY `sort_order` DESC, `id` DESC',
				'size' => $others_side_ns,
				));
}
}-->
<!--{if $others}-->

<div class="rbox b15" id="plist">
	  <h3>今日其它团购</h3>
	  <ul>
		<!--${$index=0}-->
		<!--{loop $others $one}-->
	  	  	<li>
	          <h2><a id="othersfirsturl{$one['id']}" href="/team.php?id={$one['id']}" title="{$one['title']}">
	          <!--{if $one['image']}--><img src="${team_image($one['image'], true)}" width="210" height="131" alt="{$one['title']}"/><!--{/if}-->{$one['title']}</a></h2>
	          <p><a id="otherssecondurl{$one['id']}" href="/team.php?id={$one['id']}" title="{$one['title']}" >去看看</a>团购价：<span>&yen;${moneyit($one['team_price'])}</span></p>
			</li>
		<!--{/loop}-->
			 	 </ul>
	</div>
<!--{/if}-->