<!--{include header}-->

<div class="wrap">
        <div class="uleft c3" id="uleft_ev56">
<h2 id="uctit">用户中心</h2>
<h3>交易管理</h3>
<ul>
 ${current_account('/coupon/index.php')}
</ul>

<a class="faq" href="/help/faqs.php" target="_blank">常见问题&gt;&gt;</a>
</div>  <div class="uright" id="uright_ev56">
    <div class="utit">
      <ul>
	 ${current_coupon_sub('expire')}
      </ul>
      <h2>我的{$INI['system']['couponname']}</h2>
    </div>
    <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
						<tr><th width="400">项目名称</th><th width="100" nowrap>{$INI['system']['couponname']}编号</th><th width="100" nowrap>过期日期</th></tr>
					<!--{loop $coupons $index $one}-->
						<tr ${$index%2?'':'class="alt"'}>
							<td><a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['title']}</a></td>
							<td>{$one['id']}</td>
							<td>${date('Y-m-d', $one['expire_time'])}</td>
						</tr>	
					<!--{/loop}-->
						<tr><td colspan="3">{$pagestring}</td></tr>
                    </table>
				</div>
    
  </div>
  <div class="clear"></div>
</div>
<!--{include footer}-->
