<!--{include header}-->


<!---content--->
<div class="wrap2">
  <div class="uleft2">
    <div class="utit">
      <h2>意见反馈</h2>
    </div>
    <div class="ucon login">
				<div class="sect">
					<p class="notice">提交成功，谢谢您的支持。 <a href="/">&gt;&gt;返回首页</a></p>
				</div>
    </div>
    <br /><br /><br /><br />
  </div>
  <div class="uright2">
	
        <h3>用户帮助</h3>
        <ul>
          ${current_help('null')}
        </ul>
    
  </div>
  <div class="clear"></div>
</div>
<!---contentEnd--->
<!--{include footer}-->
