<!--{include header}-->
<!--{if is_get()}-->
<div class="mtips" style="position:relative;" id="successTips"><p>此订单尚未完成付款，请重新付款</p><em class="close" onclick="hidetips();">close</em></div>
<!--{/if}-->
<div class="wrap2">
  <div class="uleft2" id="order-pay">
        <div class="utit">
		  <ul class="step step2">
			<li>提交订单</li>	
			<li>选择支付方式 </li>
			<li>支付成功</li>
		  </ul>
		  <h2>应付总额：<strong class="total-money">${moneyit($total_money)}</strong> 元</h2>
		</div>
            	
            	
            	
            	<div class="sect">
                    <div style="text-align:left; margin:10px auto;">
					<!--{if $order['service']=='credit'}-->
						<form id="order-pay-credit-form" method="post" sid="{$order_id}">
							<input type="hidden" name="order_id" value="{$order_id}" />
							<input type="hidden" name="service" value="credit" />
							<input type="submit" class="formbutton gotopay" value="使用账户余额支付" />
						</form>
					<!--{else}-->
						{$payhtml}
					<!--{/if}-->
						<div class="back-to-check"><a href="/order/check.php?id={$order_id}">&raquo; 返回选择其他支付方式</a></div>
					</div>
				</div>
  </div>
  <div class="uright2">
  &nbsp;
</div>
  <div class="clear"></div>
</div>
<!--{include footer}-->