<!--{include header}-->

<!--{if $order}-->
		<div class="mtips" id="nopayDiv"><span class="red">您已经下过订单，但还没有付款。（<a id="payurl" href="/order/check.php?id={$order['id']}">点击付款</a>）</span></div>
<!--{/if}--> 
<script src="/static/theme/ev56_58/js/jquery.lazyload.mini.js" type="text/javascript"></script>
	<!--{include block_navigator_ev56_s}-->
<div id="main">
<div class="listerouter">
<div class="lister">
	
	<!--{loop $teams_ev56_sql $tindex $oneev56}-->
  															<dl class="tuanitem">
				<dt>
					<a  id="teamfirsturl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}" target="_blank"><img width="294" heigth="184" alt="{$oneev56['title']}" title="{$oneev56['title']}" src="${team_image($oneev56['image'])}" /></a>
<!--start 商户调用-->
<!--${
/*淘宝地址：http://ev56.taobao.com/*/
$team_partner_id = $oneev56['partner_id'];
$team_partner = Table::Fetch('partner', $team_partner_id);
}-->					
<!--{if $oneev56['partner_id']}-->											
								<i class="localmask"></i>
								<div class="local" title="{$team_partner['title']}">
									商户：{$team_partner['title']}
								</div>
<!--{/if}--> 									
								<!-- {if $detail[$oneev56['id']]['is_today']} -->
								<i class="new" title="最新上线"></i>
								<!-- {elseif $oneev56['now_number']>30} -->
								<i class="hot" title="热点团购"></i>
								<!-- {/if} -->
				</dt>
				<dd class="des">
					<h2>
						<a  id="teamsecondurl{$oneev56['id']}"  target="_blank" href="/team.php?id={$oneev56['id']}" title="{$oneev56['title']}" class="c_b">
							<span class="c_r"> ${team_discount($oneev56)}折：</span>
							{$oneev56['title']}
						</a>
					</h2>
				<div class="gobuy">
											<a  id="teamthirdurl{$oneev56['id']}"  href="/team.php?id={$oneev56['id']}" target="_blank" class="<!--{if ($oneev56['state']=='soldout')}-->soldout_i<!--{elseif $oneev56['close_time']}-->soldout_i<!--{else}-->golook<!--{/if}-->">去看看</a>
										<span class="nprice"><i>&yen;</i>${moneyit($oneev56['team_price'])}</span>
				</div>
				</dd>
				<dd class="btmbar">
					<span class="oprice">原价：&yen;${moneyit($oneev56['market_price'])}</span>
										<span class="savemoney">节省：&yen;${moneyit($oneev56['market_price']-$oneev56['team_price'])}</span>
											<span class="ordernums"><b>{$oneev56['now_number']}</b>人已购买</span>
									</dd>
				<dd class="shadow"></dd>
				</dl>				
		  												
	<!-- {/loop} -->				
		  																
		  																
		  																
		    <div class="clear"></div>
</div>
<!--{if (option_yes('indexmulti')&& option_yes('indexpage')) }-->
					<div  class="class_quick_fm">{$pagestring}</div>	
<!--{/if}-->
	
</div>
</div>


<!--{include footer}-->