<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="biz">
    <div id="content" class="biz">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
			
			<div style="width:70.7%;float:left">	
			
                <div class="head"><h2>分站代理加盟</h2></div>
                <div class="sect" style="padding-left:20px;line-height:24px">
聚团吧隶属于西安聚众电子商务有限公司，是其旗下近期重金打造的黄金团购平台，目前在陕西地区独具鳌头，由于公司业务发展迅速，我方寻找区域合作伙伴，所谓星星之火可以辽源，欢迎有识之士致电咨询，您的加入，会让我们飞的更高！<br/>
<h3>我们的优势：</h3>
专业的网站建设水平<br/>
精锐的业务拓展团队<br/>
一流的网络营销能力<br/>
雄厚的资金实力<br/>
<h3>平台的优势：</h3>
符合现代网络消费理念<br/>
便捷生活购物<br/>
一天一团购，天天有新情<br/>
平台粘性高，纵横拓展范围广<br/>
人气聚集迅速，互动性强<br/>
西安地区遥遥领先<br/><br/><br/>
详情请致电：029-88696371<br/>
联系人：徐琳琦
                </div>
				
			</div>
				<div style="width:29%;float:left;">
					<div class="side-pic" align="right" style="padding-right:20px">
					   <p><img src="/static/img/subscribe-pic1.jpg" /></p>
					   <p><img src="/static/img/subscribe-pic2.jpg" /></p>
					   <p><img src="/static/img/subscribe-pic3.jpg" /></p> 
					</div>
				</div>
				<div class="clear"></div>					
				
				
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
