<div class="sbox">
	<div class="sbox-top"><img src="/static/css/i/invitenotice.gif"/></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">不同的状态都是什么意思？</h3>
			<ul class="invalid">
				<li>未购买：您已邀请好友注册，但是好友尚未参加过团购</li>
				<li>已返利：恭喜，已经给您返利啦</li>
				<li>待返利：好友已团购，将会在5个工作日内返利，请稍候(审核前以活动各项团购活动及返利规则为准)</li>
				<li>审核未通过：因为手机号重复、IP段相同、互相重复邀请、特殊团购不返利等原因被判为无效邀请</li>

				<li>已过期：好友 7 天内未参加团购，邀请过期了</li>
			</ul>
			<h3>自己邀请自己也能获得返利吗？</h3>
			<ul class="invalid">
			<li>不可以。我们会人工核查，对于查实的作弊行为，不返利，标记为“审核未通过”。</li>
			</ul>
			<h3>返利声明</h3>
			<ul class="invalid">
			<li>发现通过以上非法方式破坏邀请公平性行为，本站将给予惩罚，严重者本站将做禁止账号操作。</li>
			<li>由于邀请返利属于人工核查，工作量大，返利时间比较长，邀请返利将在每期团购结束后的5个工作日内兑现</li>
			<li>邀请返利解释权归{$INI['system']['abbreviation']}所有</li>
			<li>未尽事宜以“获奖励规则明细”为准</li>
			</ul>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
