<div class="sbox">
	<div class="sbox-top"><img src="/static/css/i/invitedetail.gif"/></div>
	<div class="sbox-content">
		<div class="side-tip referrals-side">
			<h3 class="first">在哪里可以看到我的返利？</h3>
			<p style="padding-left:5px;font-size:12px">如果邀请成功，在本页面会看到成功邀请列表。在"账号设置"页右侧，可看到您目前电子账户的余额。返利金额不返现，可在下次团购时用于支付。</p>
<!--		
			<h3>好友已经注册过{$INI['system']['abbreviation']}账户，邀请购买还有效么？</h3>
			<p>只要好友是首次购买，不管之前是否注册过{$INI['system']['abbreviation']}账户都有效。</p>
-->
			<h3>哪些情况会导致邀请返利失效？</h3>
			<ul class="invalid">

			<li>好友点击邀请链接后超过 72 小时才购买</li>
			<li>好友购买之前点击了其他人的邀请链接</li>
			<li>好友的本次购买不是首次购买</li>
			<li>由于最终团购人数没有达到人数下限，本次团购取消</li>
			<li>同一个手机号或送货地址多次使用时不返利</li>
			</ul>
			<h3>自己邀请自己也能获得返利吗？</h3>
			<ul class="invalid">
			<li>不可以。我们会人工核查，对于查实的作弊行为，扣除一切返利，并取消邀请返利的资格。</li>
			</ul>
			<h3>邀请审核制度说明</h3>
			<ul class="invalid">

			<li>同一个IP段之间的互相邀请无效</li>
			<li>相同两个IP段之间互相二次以上邀请无效</li>
			<li>自己邀请的2个及2个以上好友均是同一个IP，将被视为作弊，扣除一切返利</li>
			<li>每期新团购均发现相同IP段反复邀请，将被视为作弊，扣除一切返利</li>
			<li>被邀请方在相同IP下已经有其他注册名及消费记录，将不对邀请方返利</li>
			<li>相同IP下发现多个不同用户名集中邀请记录，将被视为作弊，扣除一切返利</li>
			<li>相同IP下已有邀请记录一方转变成被邀请方，邀请方将不获返利</li>
			<li>邀请好友邮箱相似度极高的，例如XYX@qq.com和XYX@gmail.com的，我们会视为同一个会员违例邀请</li>
			</ul>
			<h3>邀请审核制度声明</h3>
			<ul class="invalid">
			<li>发现通过以上非法方式破坏邀请公平性行为，本站将给予惩罚，严重者本站将做禁止账号操作。</li>
			<li>由于邀请返利属于人工核查，工作量大，返利时间比较长，邀请返利将在每期团购结束后的5个工作日内兑现</li>
			<li>邀请返利解释权归{$INI['system']['abbreviation']}所有</li>
		</div>
	</div>
	<div class="sbox-bottom"></div>
</div>
