<div id="ftw">
	<div id="ft">
		<p class="contact">咨询电话:029-88696371&nbsp;&nbsp;&nbsp;&nbsp;QQ官方群:56815125&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/feedback/suggest.php">意见反馈</a><a href="#top">＿Top↑</a></p>
		<ul class="cf">
			<li class="col">
				<h3>用户帮助</h3>
				<ul class="sub-list">
					<li><a href="/help/tour.php">玩转{$INI['system']['abbreviation']}</a></li>
					<li><a href="/help/faqs.php">常见问题</a></li>
					<li><a href="/help/repay.php">退款流程</a></li>
					<li><a href="/feedback/flinks.php">友情链接</a></li>
				</ul>
			</li>
			<li class="col">
				<h3>关注聚团吧</h3>
				<ul class="sub-list">
					<li><a href="/subscribe.php?ename={$city['ename']}">邮件订阅</a></li>
					<li><a href="/feed.php?ename={$city['ename']}">RSS订阅</a></li>
				<!--{if $INI['system']['sinajiwai']}-->
					<li><a href="{$INI['system']['sinajiwai']}" target="_blank">新浪微博</a></li>
				<!--{/if}-->
				<!--{if $INI['system']['tencentjiwai']}-->
					<li><a href="{$INI['system']['tencentjiwai']}" target="_blank">腾讯微博</a></li>
				<!--{/if}-->
				</ul>
			</li>
			<li class="col">
				<h3>合作与联系</h3>
				<ul class="sub-list">
					<li><a href="/feedback/seller.php">商务合作</a></li>
					<li><a href="/help/xydl.php">校园代理</a></li>
					<li><a href="/help/runzi.php">招股募资</a></li>
					<li><a href="/about/contact.php">联系方式</a></li>
				</ul>
			</li>
			<li class="col">
				<h3>公司信息</h3>
				<ul class="sub-list">
					<li><a href="/about/us.php">关于{$INI['system']['abbreviation']}</a></li>
					<li><a href="/about/job.php">工作机会</a></li>
					<li><a href="/about/terms.php">用户协议</a></li>
					<li><a href="/about/privacy.php">隐私声明</a></li>
				</ul>
			</li>
			<li class="col end">
					<div class="logo-footer">
						<a href="/"><img src="/static/css/i/logo-footer.gif" /></a>
					</div>
			</li>
		</ul>
		<div class="copyright">
		<p>CopyRight&copy;<span>2010</span>&nbsp;{$INI['system']['sitename']}(Jutuanba.com)版权所有(支持雕鹰团队：bbs.diaoying.com)&nbsp;<a href="/about/terms.php">使用{$INI['system']['abbreviation']}前必读</a>&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">{$INI['system']['icp']}</a>&nbsp;Powered by <a href="http://www.juzweb.net/" target="_blank">JuzWeb</a> software.

		</p>
		</div>
	</div>
</div>
<!--{include html_footer}-->


<!--
<link href="http://sjs.sinajs.cn/uc/chatroom/css/chatroom.css" rel="stylesheet" type="text/css" />
<script src="/static/js/base_min.js" charset="GBK"></script>
<script src="/static/js/chatroom_min.js" charset="GBK"></script>
<script type="text/javascript" charset="GBK">var wuc_chatroom = new WUCChatroom({id: 501516, name: '聚团吧', siteApi : ''});</script>
<script>jQuery.noConflict();</script>
-->