<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_market('xydl_view')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>校园代理</h2><p style="float:right;padding:0 20px 5px 0"><a href="xydl_add.php">[添加代理]</a></p>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="168">代理姓名</th><th width="283">添加时间</th><th width="171">电话</th><th width="124">开发会员</th><th width="156">操作</th></tr>
					<!--{loop $xydl $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['name']}</td>
						<td>{$one['addtime']}</td>
						<td>{$one['phone']}</td>
						<td>{$one['countnum']}</td>
						<td class="op"><a href="/manage/market/xydl_view.php?id={$one['id']}">详情</a> | <a href="/manage/market/xydl_edit.php?id={$one['id']}">编辑</a> | <a href="/manage/market/xydl_del.php?id={$one['id']}" class="remove-record">删除</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="5">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
