<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_misc('flinks_add')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>添加友情链接</h2>
				</div>
                <div class="sect">
                    <form id="feedback-user-form" method="post" action="/manage/misc/flinks_add.php" class="validator">
                        <div class="field fullname">
                            <label>站点名称</label>
                            <input type="text" size="30" name="link_name" class="f-input" require="true" datatype="require" />
                        </div> 
                        <div class="field fullname">
                            <label>链接网址</label>
                            <input type="text" size="30" name="link_url" class="f-input" require="true" datatype="require" value="http://" />
                        </div> 
                        <div class="field fullname">
                            <label>网站管理员</label>
                            <input type="text" size="30" name="link_admin" class="f-input" require="true" />
                        </div>
                        <div class="field fullname">
                            <label>联系电话</label>
                            <input type="text" size="30" name="link_phone" class="f-input" require="true" />
                        </div>                         
                        <div class="field suggest">
                            <label>添加时间</label>
                            <input type="text" size="30" name="link_addtime" id="feedback-time" class="f-input" require="true" datatype="require" readonly="readonly" />
                            <script language="javascript">
                                var date = new Date();
                                document.getElementById("feedback-time").value = date.toLocaleString();
                            </script>  
                        </div>
                        <div class="field fullname">
                            <label>排序</label>
                            <input type="text" size="30" name="link_order" class="f-input" require="true" />
                        </div>
                        <div class="field fullname">
                            <label>是否显示</label>
                            <input type="radio" name="link_display" require="true" datatype="require" value="0" /> 不显示 <input type="radio" name="link_display" require="true" datatype="require" value="1" checked="checked" /> 显示
                        </div>
                        <div class="clear"></div>
                        <div class="act">
                            <input type="submit" value="提交" name="commit" id="feedback-submit" class="formbutton"/>
                        </div>
                    </form>					
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
