<!--{include manage_html_header}-->
<script type="text/javascript" src="/static/js/xheditor/xheditor.js"></script> 
<div id="hdw">

	<div id="hd">
		<div class="bgtop">	
			<div style="width:960px;margin:0 auto;">
	
				<div id="logo"><a href="/index.php" class="link" target="_blank"><img src="/static/css/i/logo1.gif" /><img src="/static/css/i/logo2.gif" /></a></div>
				<div class="guides">
					<div class="city">
						<h2>管理后台</h2>
					</div>
					<div id="guides-city-change" class="change">{$login_user['realname']}</div>
		<!--{if is_manager()}--><div class="vcoupon">&raquo;&nbsp;<a href="/manage/logout.php">管理员退出</a></div><!--{/if}-->

				</div>
			
					<div class="refer">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">	
							<tr>
							<td style="padding-left:10px">【<a href="#" target="_blank" style="color:#959595">西安聚众电子商务</a>】旗下品牌团购平台</td>
							<td>»  <a href="#" onclick="var strHref=window.location.href;this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.jutuanba.com');" title="聚团吧-一天一团购，方便你我他" style="color:#959595">设为首页</a>   »  <a href="#" onClick="window.external.addFavorite('http://www.jutuanba.com','聚团吧')" title="聚团吧-一天一团购，精彩每一天" style="color:#959595">收藏聚团吧</a>   »  <a href="/biz/" style="color:#959595">商家登录入口</a>   »  <a href="/partner.php/" style="color:#959595">商家秀</a></td>
							<td>&raquo;&nbsp;<a href="/account/invite.php">点此邀请好友购买返<font color="#eaff00"><b>&nbsp;￥{$INI['system']['invitecredit']}&nbsp;</b></font>元现金</a>&nbsp;&nbsp;&nbsp;&raquo;&nbsp;<a id="verify-coupon-id" href="javascript:;">{$INI['system']['couponname']}验证及消费登记</a></td>
							</tr>				
						</table>
					</div>
				<div id="header-subscribe-body" class="subscribe">
		<!--{if option_yes('smssubscribe')}-->
		<span><a class="sms" onclick="X.miscajax('sms','subscribe');">&raquo; 短信订阅，免费！</a>&nbsp; <a class="sms" onclick="X.miscajax('sms','unsubscribe');">&raquo; 取消手机订阅</a></span>
		<!--{/if}-->
					<form action="/subscribe.php" method="post" id="header-subscribe-form">
						<input type="hidden" name="city_id" value="{$city['id']}" />
						<input id="header-subscribe-email" type="text" xtip="输入Email，订阅{$city['name']}每日团购信息..." value="" class="f-text" name="email" />
						<input type="hidden" value="1" name="cityid" />
						<input type="submit" class="commit" value="订阅" />
					</form>
				</div>
		
			</div>

		</div>
		
		<div style="background:#a00f0a;width:100%px;margin:0 auto;height:39px">	
			<div style="width:984px;margin:0 auto 0 auto;">
				<ul class="nav cf">${current_backend('super')}</ul>
			</div>	
		</div>	
		
		
	</div>
</div>

<!--{if $session_notice=Session::Get('notice',true)}-->
<div class="sysmsgw" id="sysmsg-success"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->
<!--{if $session_notice=Session::Get('error',true)}-->
<div class="sysmsgw" id="sysmsg-error"><div class="sysmsg"><p>{$session_notice}</p><span class="close">关闭</span></div></div> 
<!--{/if}-->
