<!--{include header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="feedback">
    <div id="content" class="help">
        <div class="box">
            <div class="box-top"></div>
            <div class="box-content">
			
			
			<div style="width:70.7%;float:left">
			
                <div class="head"><h2>订单已录入</h2></div>
                <div class="sect">
					<p class="notice">订单已经成功录入，请在本团结束之前到就近银行现金付款或转账付款。 <a href="/">&gt;&gt;返回首页</a></p>
				</div>
				
			</div>
				<div style="width:29%;float:left">
					<div class="side-pic" align="right" style="padding-right:20px">
					   <p><img src="/static/img/subscribe-pic1.jpg" /></p>
					   <p><img src="/static/img/subscribe-pic2.jpg" /></p>
					   <p><img src="/static/img/subscribe-pic3.jpg" /></p> 
					</div>
				</div>
				<div class="clear"></div>					
				
				
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
